.calendarPanelHeader(@calendar-prefix-cls) {
  height: @calendarPanelHeader-height;
  line-height: @calendarPanelHeader-height;
  text-align: center;
  user-select: none;
  // border-bottom: @border-width-base @border-style-base @border;
  :first-child {
    z-index: 3;
  }
  a:hover {
    color: @link-hover-color;
  }

  .@{calendar-prefix-cls}-century-select,
  .@{calendar-prefix-cls}-decade-select,
  .@{calendar-prefix-cls}-year-select,
  .@{calendar-prefix-cls}-month-select {
    padding: 0 @calendar-select-padding;
    font-weight: 500;
    display: inline-block;
    color: @title-color;
    line-height: @calendarPanelHeader-height;
    font-size: @font-size-base;
  }

  .@{calendar-prefix-cls}-century-select-arrow,
  .@{calendar-prefix-cls}-decade-select-arrow,
  .@{calendar-prefix-cls}-year-select-arrow,
  .@{calendar-prefix-cls}-month-select-arrow {
    display: none;
  }

  .@{calendar-prefix-cls}-prev-century-btn,
  .@{calendar-prefix-cls}-next-century-btn,
  .@{calendar-prefix-cls}-prev-decade-btn,
  .@{calendar-prefix-cls}-next-decade-btn,
  .@{calendar-prefix-cls}-prev-month-btn,
  .@{calendar-prefix-cls}-next-month-btn,
  .@{calendar-prefix-cls}-prev-year-btn,
  .@{calendar-prefix-cls}-next-year-btn {
    position: absolute;
    top: 0;
    color: @text-color-secondary;
    font-family: @font-family;
    padding: 0 @calendar-btn-padding;
    font-size: @font-size-lg;
    display: inline-block;
    line-height: @calendarPanelHeader-height;
  }

  .@{calendar-prefix-cls}-prev-century-btn,
  .@{calendar-prefix-cls}-prev-decade-btn,
  .@{calendar-prefix-cls}-prev-year-btn {
    left: 32px;
    top: -1px;

    &:after {
      font-size: @calendarPanelHeader-icon-font-size;
      content: '«';
    }
  }

  .@{calendar-prefix-cls}-prev-century-btn {
    &:after {
      font-size: @calendarPanelHeader-icon-font-size;
      content: '‹';
    }
  }

  .@{calendar-prefix-cls}-prev-decade-btn {
    &:after {
      font-size: @calendarPanelHeader-icon-font-size;
      content: '‹';
    }
  }

  .@{calendar-prefix-cls}-prev-year-btn {
    &:after {
      content: ''
    }
  }

  .@{calendar-prefix-cls}-next-century-btn,
  .@{calendar-prefix-cls}-next-decade-btn,
  .@{calendar-prefix-cls}-next-year-btn {
    right: 32px;
    top: -1px;

    &:after {
      font-size: @calendarPanelHeader-icon-font-size;
      content: '»';
    }
  }

  .@{calendar-prefix-cls}-next-century-btn {
    &:after {
      font-size: @calendarPanelHeader-icon-font-size;
      content: '›';
    }
  }

  .@{calendar-prefix-cls}-next-decade-btn {
    &:after {
      font-size: @calendarPanelHeader-icon-font-size;
      content: '›'
    };
  }

  .@{calendar-prefix-cls}-next-year-btn {
    &:after {
      content: ''
    }
  }

  .@{calendar-prefix-cls}-prev-month-btn {
    // left: 29px;
    left: 32px;
    top: -1px;

    &:after {
      font-size: @calendarPanelHeader-icon-font-size;
      content: '‹';
    }
  }

  .@{calendar-prefix-cls}-next-month-btn {
    // right: 29px;
    right: 32px;
    top: -1px;

    &:after {
      font-size: @calendarPanelHeader-icon-font-size;
      content: '›';
    }
  }
}

.@{calendar-prefix-cls} {
  position: relative;
  outline: none;
  width: 280px;
  border: @border-width-base @border-style-base #fff;
  list-style: none;
  font-size: @font-size-base;
  text-align: left;
  background-color: @calendar-base-bg;
  border-radius: @border-radius-base;
  box-shadow: @shadow-small;
  background-clip: padding-box;
  line-height: @calendar-line-height-base;

  &-input-wrap {
    height: 34px;
    padding: 6px @padding-sm - 2px;
    border-bottom: @border-width-base @border-style-base @border;
  }

  &-input {
    border: 0;
    width: 100%;
    cursor: auto;
    outline: 0;
    color: @input-color;
    height: @calendar-input-height;
    background: @input-bg;
    .placeholder;
  }

  &-week-number {
    width: 286px;

    &-cell {
      text-align: center;
    }
  }

  &-header {
    .calendarPanelHeader(@calendar-prefix-cls);
  }

  &-body {
    padding: 0px @padding-md @padding-sm;
  }

  table {
    border-collapse: collapse;
    max-width: 100%;
    background-color: transparent;
    width: 100%;
  }

  table,
  th,
  td {
    border: 0;
    text-align: center;
  }

  &-calendar-table {
    border-spacing: 0;
    margin-bottom: 0;
  }

  &-column-header {
    line-height: @calendar-column-header-line-height;
    width: 33px;
    padding: 6px 0;
    text-align: center;
    .@{calendar-prefix-cls}-column-header-inner {
      display: block;
      font-weight: normal;
      margin-bottom: 8px;
    }
  }

  &-week-number-header {
    .@{calendar-prefix-cls}-column-header-inner {
      display: none;
    }
  }

  &-cell {
    padding: 3px 0;
    height: 30px;
  }

  &-date {
    display: block;
    margin: 0 auto;
    color: @text-color;
    border-radius: 2px;
    width: 24px;
    height: 24px;
    line-height: 22px;
    border: @border-width-base @border-style-base transparent;
    padding: 0;
    background: transparent;
    text-align: center;
    transition: background 0.3s ease;

    &-panel {
      position: relative;
      outline: none;
    }

    &:hover {
      background: @primary-lightBg;
      cursor: pointer;
    }

    &:active {
      color: @calendarPanelHeader-active-color;
      background: @primary-color;
    }
  }

  &-today &-date {
    border-color: @primary-color;
    font-weight: bold;
    color: @primary-color;
  }

  &-last-month-cell &-date,
  &-next-month-btn-day &-date {
   color: @text-color-disable;
  }

  &-selected-day &-date {
    background: tint(@primary-color, 80%);
  }

  &-selected-date, &-selected-start-date, &-selected-end-date {
    .@{calendar-prefix-cls}-date {
      background: @primary-color;
      color: @calendarPanelHeader-active-color;
      border: @border-width-base @border-style-base transparent;

      &:hover {
        background: @primary-color;
      }
    }
  }

  &-disabled-cell &-date {
    position: relative;
    cursor: not-allowed;
    color: @text-color-disable;
    background: @disabled;
    border-radius: 0;
    width: auto;
    border: @border-width-base @border-style-base transparent;

    &:hover {
      background: @disabled;
    }
  }

  &-disabled-cell&-selected-day &-date::before {
    position: absolute;
    top: -1px;
    left: 5px;
    width: 24px;
    height: 24px;
    background: rgba(0, 0, 0, .1);
    border-radius: @border-radius-base - 1;
    content: '';
  }

  &-disabled-cell&-today &-date {
    position: relative;
    margin-right: 5px;
    padding-left: 5px;
    &::before {
      content: '';
      position: absolute;
      top: -1px;
      left: 5px;
      width: 24px;
      height: 24px;
      border: @border-width-base @border-style-base #bcbcbc;
      border-radius: @border-radius-base - 1;
    }
  }

  &-disabled-cell-first-of-row &-date {
    border-top-left-radius: @border-radius-base + 1;
    border-bottom-left-radius: @border-radius-base + 1;
  }

  &-disabled-cell-last-of-row &-date {
    border-top-right-radius: @border-radius-base;
    border-bottom-right-radius: @border-radius-base;
  }

  &-footer {
    padding: 0 @padding-sm;
    line-height: 38px;
    border-top: @border-width-base @border-style-base @border;
    &:empty {
      border-top: 0;
    }
    &-btn {
      text-align: center;
      display: block;
    }
    &-extra {
      text-align: left;
    }
  }

  .@{calendar-prefix-cls}-today-btn,
  .@{calendar-prefix-cls}-clear-btn {
    display: inline-block;
    text-align: center;
    margin: 0 0 0 8px;
    &-disabled {
      color: @disabled-color;
      cursor: not-allowed;
    }
    &:only-child {
      margin: 0;
    }
  }

  .@{calendar-prefix-cls}-clear-btn {
    display: none;
    position: absolute;
    right: 5px;
    text-indent: -76px;
    overflow: hidden;
    width: @calendar-clear-btn-width;
    height: @calendar-clear-btn-height;
    text-align: center;
    line-height: @calendar-clear-btn-height;
    top: 7px;
    margin: 0;
  }

  .@{calendar-prefix-cls}-clear-btn:after {
    font-size: @font-size-base;
    color: @disabled-color;
    display: inline-block;
    line-height: 1;
    width: 20px;
    text-indent: 43px;
    transition: color 0.3s ease;
  }

  .@{calendar-prefix-cls}-clear-btn:hover::after {
    color: @text-color-secondary;
  }

  .@{calendar-prefix-cls}-ok-btn {
    .btn;
    .btn-primary;
    .button-size(@btn-height-sm; @btn-padding-sm; @font-size-base; @border-radius-base);
    line-height: @btn-height-sm - 2px;

    .button-disabled();
  }
}

