.@{calendar-prefix-cls}-month-panel {
  left: 0;
  top: 1px;
  bottom: 0;
  right: 0;
  background: @calendar-base-bg;
  z-index: 10;
  position: absolute;
  outline: none;
  border-radius: @border-radius-base;

  > div {
    height: 100%;
  }
}

.@{calendar-prefix-cls}-month-panel-hidden {
  display: none;
}

.@{calendar-prefix-cls}-month-panel-header {
  .calendarPanelHeader(~"@{calendar-prefix-cls}-month-panel");
}

.@{calendar-prefix-cls}-month-panel-body {
  height: ~'calc(100% - 40px)';
  padding-bottom: 24px;
  box-sizing: border-box;
}

.@{calendar-prefix-cls}-month-panel-table {
  table-layout: fixed;
  width: 100%;
  height: 100%;
  border-collapse: separate;
}

.@{calendar-prefix-cls}-month-panel-selected-cell .@{calendar-prefix-cls}-month-panel-month {
  background: @primary-color;
  color: #fff;

  &:hover {
    background: @primary-color;
    color: #fff;
  }
}

.@{calendar-prefix-cls}-month-panel-cell {
  text-align: center;

  &-disabled .@{calendar-prefix-cls}-month-panel-month {
    &,
    &:hover {
      cursor: not-allowed;
      color: #bcbcbc;
      background: @disabled;
    }
  }
}

.@{calendar-prefix-cls}-month-panel-month {
  display: inline-block;
  margin: 0 auto;
  color: @text-color;
  background: transparent;
  text-align: center;
  height: @calendar-month-panel-height;
  line-height: @calendar-month-panel-height;
  padding: 0 @padding-xs;
  border-radius: @border-radius-base - 1;
  transition: background 0.3s ease;

  &:hover {
    background: @primary-lightBg;
    cursor: pointer;
  }
}