/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors */
.idoll-input-number {
  font-family: "Helvetica Neue For Number", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-variant: tabular-nums;
  box-sizing: border-box;
  list-style: none;
  position: relative;
  padding: 4px 11px;
  width: 100%;
  height: 32px;
  cursor: text;
  font-size: 14px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.65);
  background-color: #fff;
  background-image: none;
  transition: all .3s;
  margin: 0;
  padding: 0;
  display: inline-block;
  border: 1px solid #E2E2E2;
  border-radius: 3px;
  width: 90px;
}
.idoll-input-number::-moz-placeholder {
  color: rgba(0, 0, 0, 0.25);
  opacity: 1;
}
.idoll-input-number:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.25);
}
.idoll-input-number::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.25);
}
.idoll-input-number:hover {
  border-color: #42C69E;
  border-right-width: 1px !important;
}
.idoll-input-number:focus {
  border-color: #13B886;
  outline: 0;
  border-right-width: 1px !important;
}
.idoll-input-number[disabled],
fieldset[disabled] .idoll-input-number {
  background-color: #F8F9FC;
  opacity: 1;
  cursor: not-allowed;
  color: rgba(0, 0, 0, 0.25);
}
.idoll-input-number[disabled]:hover,
fieldset[disabled] .idoll-input-number:hover {
  border-color: #E2E2E2;
  border-right-width: 1px !important;
}
textarea.idoll-input-number {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  min-height: 32px;
}
.idoll-input-number-lg {
  padding: 7px 11px;
  height: 40px;
  font-size: 16px;
}
.idoll-input-number-sm {
  padding: 1px 7px;
  height: 24px;
  border-radius: 2px;
  font-size: 12px;
}
.idoll-input-number-handler {
  text-align: center;
  line-height: 0;
  height: 50%;
  overflow: hidden;
  color: rgba(0, 0, 0, 0.45);
  position: relative;
  transition: all 0.1s linear;
  display: block;
  width: 100%;
  font-weight: bold;
}
.idoll-input-number-handler:active {
  background: #f4f4f4;
}
.idoll-input-number-handler:hover .idoll-input-number-handler-up-inner,
.idoll-input-number-handler:hover .idoll-input-number-handler-down-inner {
  color: #40A9FF;
}
.idoll-input-number-handler-up-inner,
.idoll-input-number-handler-down-inner {
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: middle;
  text-align: center;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 12px;
  user-select: none;
  position: absolute;
  width: 12px;
  height: 12px;
  transition: all 0.1s linear;
  display: compact;
  font-size: 12px;
  font-size: 7px \ 9;
  transform: scale(0.58333333) rotate(0deg);
  right: 4px;
  color: rgba(0, 0, 0, 0.45);
}
.idoll-input-number-handler-up-inner:before,
.idoll-input-number-handler-down-inner:before {
  display: block;
  font-family: 'idollicon' !important;
}
:root .idoll-input-number-handler-up-inner,
:root .idoll-input-number-handler-down-inner {
  font-size: 12px;
}
.idoll-input-number:hover {
  border-color: #42C69E;
  border-right-width: 1px !important;
}
.idoll-input-number-focused {
  border-color: #13B886;
  outline: 0;
  border-right-width: 1px !important;
}
.idoll-input-number-disabled {
  background-color: #F8F9FC;
  opacity: 1;
  cursor: not-allowed;
  color: rgba(0, 0, 0, 0.25);
}
.idoll-input-number-disabled:hover {
  border-color: #E2E2E2;
  border-right-width: 1px !important;
}
.idoll-input-number-disabled .idoll-input-number-input {
  cursor: not-allowed;
}
.idoll-input-number-disabled .idoll-input-number-handler-wrap {
  display: none;
}
.idoll-input-number-input {
  width: 100%;
  text-align: left;
  outline: 0;
  -moz-appearance: textfield;
  height: 30px;
  transition: all 0.3s linear;
  background-color: transparent;
  border: 0;
  border-radius: 3px;
  padding: 0 11px;
}
.idoll-input-number-input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.25);
  opacity: 1;
}
.idoll-input-number-input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.25);
}
.idoll-input-number-input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.25);
}
.idoll-input-number-lg {
  padding: 0;
  font-size: 16px;
}
.idoll-input-number-lg input {
  height: 38px;
}
.idoll-input-number-sm {
  padding: 0;
}
.idoll-input-number-sm input {
  height: 22px;
  padding: 0 7px;
}
.idoll-input-number-handler-wrap {
  border-left: 1px solid #E2E2E2;
  width: 22px;
  height: 100%;
  background: #fff;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  border-radius: 0 3px 3px 0;
  transition: opacity 0.24s linear 0.1s;
}
.idoll-input-number-handler-wrap:hover .idoll-input-number-handler {
  height: 40%;
}
.idoll-input-number:hover .idoll-input-number-handler-wrap {
  opacity: 1;
}
.idoll-input-number-handler-up {
  cursor: pointer;
}
.idoll-input-number-handler-up-inner {
  top: 50%;
  margin-top: -5px;
  text-align: center;
}
.idoll-input-number-handler-up:hover {
  height: 60% !important;
}
.idoll-input-number-handler-down {
  border-top: 1px solid #E2E2E2;
  top: 0;
  cursor: pointer;
}
.idoll-input-number-handler-down-inner {
  top: 50%;
  margin-top: -6px;
  text-align: center;
}
.idoll-input-number-handler-down:hover {
  height: 60% !important;
}
.idoll-input-number-handler-up-disabled,
.idoll-input-number-handler-down-disabled {
  cursor: not-allowed;
}
.idoll-input-number-handler-up-disabled:hover .idoll-input-number-handler-up-inner,
.idoll-input-number-handler-down-disabled:hover .idoll-input-number-handler-down-inner {
  color: rgba(0, 0, 0, 0.25);
}
