.prevNextNav {
  border-top: 1px solid #eaeefb;
  margin-top: 80px;
  padding: '20px';
  .prevPage {
    display: inline-block;
    padding: 20px 30px;
    &:hover {
      color: #42c69e;
    }
    .prevIcon {
      margin-right: 8px;
      font-size: 16px;
      color: #13b886;
    }
    .prevNext {
      margin-left: 8px;
      font-size: 16px;
      color: #13b886;
    }
  }
}
