@import '../../../style/mixins/index';
@import '../../../style/theme/default/index';


@anchor-border-width: 2px;

.@{idoll-prefix}-anchor {
  .reset-component;
  position: relative;
  padding-left: @anchor-border-width;
  box-sizing:border-box

  &-wrapper {
    background-color: @component-background;
    overflow: auto;
    padding-left: 4px;
    margin-left: -4px;
  }

  &-anchor-line-link {
    position: absolute;
    width: 100%;
    bottom: 0;

    &:before {
      content: ' ';
      position: relative;
      height: 2px;
      display: block;
      background-color: @border-color-split;
      margin: 0 auto;
    }
    &-ball {
      display: none;
      position: absolute;
      width: 80px;
      border-bottom: 2px solid @primary-color;
      background-color: @primary-color;
      // top: 50%;
      top: 0.8px;
      left: 0;
      transform: translate(-50%, -50%);
      transition: left .3s ease-in-out;
      &.visible {
        display: inline-block;
      }
    }
  }

  &-ink {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    &:before {
      content: ' ';
      position: relative;
      width: @anchor-border-width;
      height: 100%;
      display: block;
      background-color: @border-color-split;
      margin: 0 auto;
    }
    &-ball {
      display: none;
      position: absolute;
      height: 38px;
      // border-radius: 8px;
      border-left: 2px solid @primary-color;
      background-color: @primary-color;
      top: 50%;
      left: 50%;
      transition: top .3s ease-in-out;
      transform: translate(-50%, -50%);
      &.visible {
        display: inline-block;
      }
    }
  }

  &.fixed &-ink &-ink-ball {
    display: none;
  }

  &-link {
    padding: 7px 0 7px 16px;
    line-height: 1.143;

    &-title {
      display: block;
      position: relative;
      transition: all .3s;
      color: @text-color;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-bottom: 6px;

      &:only-child {
        margin-bottom: 0;
      }
    }

    &-active > &-title {
      color: @primary-color;
    }
  }

  &-line-link {
    display: inline-block;
    padding: 12px 23px;
  }

  &-link &-link {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
