body, html, ul, h1, p {
  margin: 0;
  padding: 0;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "PingFang SC" , "Hiragino Sans GB" , "Microsoft YaHei" , "Helvetica Neue" , Helvetica , Arial , sans-serif ;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}
ul {
  list-style: none;
}

a {
	text-decoration: none;
	color: rgba(0, 0, 0, .4);
}
.bg_container {
  position: relative;
}

.liuTip,.yangTip,.wangTip,.luTip, .chenTip, .zhouTip, .zhangTip, .weiTip, .wuTip, .lvTip, .yueTip {
  opacity: 0;
  transition: opacity 0.4s;
  position: absolute;
  top: -105px;
}

.liuTip {
  left: 76px;
}

.yangTip {
  left: 174px;
}

.wangTip {
  left: 262px;
}

.luTip {
  left: 350px;
}

.chenTip {
  left: 436px
}

.zhouTip {
  right: 94px;
}

.zhangTip {
  right: 184px;
}

.weiTip {
  right: 266px;
}

.wuTip {
  right: 438px;
}

.lvTip {
  right: 354px;
}

.yueTip {
  left: -20px;
}

.home_page {
  width: 100%;
  height: 100vh;
  position: relative;
  box-sizing: border-box;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../assets/img/index.png');
}
.warper {
	width: 100%;
	padding-bottom: 80px;
  box-sizing: border-box;
}

.content {
  padding: 0 120px;
  margin: 0 auto;
  overflow: hidden;
  margin-top: 128px;
  display: flex;
  justify-content: space-between;
}
.header-warper {
  /* position: fixed; */
  top: 0;
  left: 0;
  width:100%;
  z-index:9;
  height: 64px;
  line-height:64px;
  background: #fff;
}
.header-warper-top {
  max-width: 90%;
  height:64px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-warper-logo img {
  width: 88px;
  height: 28px;
  vertical-align: middle;
  position: relative;
  top: -3px;
  margin-right: 6px;
}
.header-warper-logo span {
  font-size: 20px;
  color: rgba(0,0,0,1);
}
.noBg {
  background: #FFF;
}
.header-warper-navbar:after{
  clear: both;
  content: '.';
  display: block;
  width: 0;
  height: 0;
  visibility: hidden;
}
.header-warper-navbar a{
  float:left;
  width: 80px;
  font-size:14px;
  font-weight:400;
  text-align: center;
  color:rgba(0,0,0,.6);
}
.header-warper-navbar a:hover {
  cursor: pointer;
  color: #13b886;
}
.active {
  border-bottom: 3px solid #13b886;
  cursor: pointer;
  height: 61px;
  color: #13b886;
}
.content_container {
  width: 90%;
  margin: 0 auto;
  margin-top: 120px;
  overflow: hidden;
}

.content_container h1 {
	font-size: 38px;
	font-weight: 500px;
	margin-bottom: 24px;
	color: rgba(0, 0, 0, .8);
}

.content_container p {
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;
	margin-bottom: 24px;
	letter-spacing: 1px;
	color: rgba(0, 0, 0, .6);
}

.content_container p:last-child {
	margin-bottom: 56px;
}

.tent_container strong {
	color: #000;
	font-size: 14px;
	margin-right: 48px;
}

.content_container .principle {
	width: 800px;
	height: 600px;
	margin: 0 auto;
}

.principle img {
	width: 100%;
	height: 100%;
}

.design_source {
  width: 90%;
  margin: 120px auto 0 auto;
	position: relative;
}

.design_source h1 {
	font-size: 38px;
	font-weight: 500px;
	margin-bottom: 24px;
	color: rgba(0, 0, 0, .8);
}

.design_source p {
	font-size: 14px;
	font-weight: 400;
	margin-bottom: 64px;
	color: rgba(0, 0, 0, .6);
}

.design_source a {
	color: rgba(19, 184, 134, 1);
}

.design_source_logo_container {
  text-align: center;
  width: 300px;
  position: relative;
	border: 1px solid #E2E2E2;
}

.design_source_logo_container .design_source_logo {
	width: 120px;
	margin: 0 auto;
	margin-top: 32px;
}

.design_source_logo_container .design_source_logo img {
	width: 100%;
	height: 100%;
}

.design_source_logo_container p {
	color: #000;
	font-size: 20px;
	margin-top: 14px;
	font-weight: 500;
	margin-bottom: 48px;
}

.design_source_logo_container .operation a {
  line-height: 40px;
  cursor: pointer;
  display:inline-block;
  width: 149px;
  margin-right: -1px;
}
.design_source_logo_container .operation .download {
  font-size: 14px;
  height: 39px;
  color: rgba(0, 0, 0, .6);
}
.design_source_logo_container .operation .getlink {
  height: 40px;
  font-size: 14px;
	border: none;
	color: #FFF;
	font-size: 14px;
	border-top-color: #13B886;
	background-color: #13B886;
}

.Happy_qrcode {
	opacity: 0;
  left: 142px;
  margin-top: 8px;
	width: 141px;
	height: 145px;
	position: absolute;
	box-sizing: border-box;
	transition: opacity 0.4s;
	border: 1px solid #E2E2E2;
}

.show {
  opacity: 1;
  transition: opacity 0.4s;
}

.Happy_qrcode img {
	width: 115px;
	height: 100px;
	margin: 12px;
}

.Happy_qrcode .scamQR {
	font-size: 10px;
	text-align: center;
	margin-top: -7px;
  color: rgba(0, 0, 0, .6);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 64px;
}

.header_container {
  max-width: 1200px;
  height: 64px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.clearfix_fixed {
  height: 64px;
}

.header_left {
  width: 1200px;
  margin: 0 auto;
  height: 64px;
  line-height: 64px;
}

.header img {
  width: 22px;
  height: 22px;
  vertical-align: middle;
  position: relative;
  top: -2px;
}

.DBox {
  font-size: 20px;
  margin-left: 8px;
}

.descript_container {
  position: absolute;
  top: 50%;
  right: 120px;
  transform: translateY(-60%);
}

.descript_container .team {
  font-size:14px;
  font-weight:400;
  text-align: right;
  margin-bottom: 32px;
  color: rgba(0, 0, 0, .4);
}

.descript_container .component_name {
  color:#000;
  font-size: 68px;
  font-weight:500;
  text-align: right;
  margin-bottom: 40px;
  font-family:Arial;
}

.descript_container .component_name2 {
  color:#000;
  font-size: 80px;
  font-weight:500;
  text-align: right;
  margin-bottom: 32px;
}

.descript_container .purpose {
  font-size:14px;
  font-weight:400;
  text-align: right;
  margin-bottom: 72px;
  color: rgba(0, 0, 0, .6);
}
.descript_container .operation {
  text-align: right;
}

.start_use:hover {
  cursor: pointer;
}

.connect_us {
  display: inline-block;
  padding:0 35px;
  border-radius: 3px;
  line-height: 38px;
  background-color: #fff;
  color: rgba(0, 0, 0, .6);
  border: 1px solid #E2E2E2;
}

.connect_us:hover {
  cursor: pointer;
  border: 1px solid #13B886;
  color: #13B886;
}

.Happy {
  left: 98px;
  opacity: 0;
  margin-top: 8px;
  position: absolute;
  transition: opacity 0.4s;
  border: 1px solid #E2E2E2;
  top: 38px;
}

.show {
  opacity: 1;
  transition: opacity 0.4s;
}

.Happy img {
  box-sizing: border-box;
  width: 126px;
  padding: 4px 4px 0 ;
  vertical-align: middle;
}
.scamQR {
  display: block;
  font-size: 10px;
  text-align: center;
  margin-bottom: 8px;
  color: rgba(0, 0, 0, .6);
}


/*  */
.componentName {
  color: #000;
  font-size: 88px;
  line-height: 76px;
  font-weight: 600;
  text-align: left;
  margin: 80px 0 56px 0;
  font-family: Arial;
}

.description {
  width: 491px;
  line-height: 22px;
  font-size: 16px;
  letter-spacing: 2px;
  margin-bottom: 48px;
  color: rgba(0, 0, 0, .6);
}

.divider {
  width: 60px;
  height: 4px;
  background-color: #FBD961;
  margin-bottom: 48px;
}

.btn_content {
  position: relative;
  display: flex;
  width: 208px;
  justify-content: space-between;
}

.start_use,.tele_me {
  display: inline-block;
  width: 96px;
  height: 40px;
  font-size: 16px;
  text-align: center;
  line-height: 40px;
  border-radius: 4px;
  cursor: pointer;
}

.start_use {
  display: inline-block;
  background-color: #13B886;
  color: #FFF;
}

.tele_me {
  background-color: #fff;
  border: 1px solid #E2E2E2;
}

.line {
  margin-top: 130px;
}

.tower {
  position: relative;
  margin-bottom: 90px;
}

.tower_up {
  position: absolute;
  top: 28px;
  right: 417px;
  z-index: 1;
}

.tower_down {
  position: absolute;
  top: 254px;
  right: 141px;
  z-index: 1;
}

.tower_up_custom_animated {
  animation: myMove0 10s 1s infinite linear;
}

.tower_down_custom_animated {
  animation: myMove1 10s 2s infinite linear;
}

.UI {
  position: absolute;
  top: 152px;
  left: 89px;
}

.laptop {
  position: absolute;
  top: 160px;
  left: 180px;
}

.building {
  position: absolute;
  top: 48px;
  right: 210px;
}

.dbox {
  position: absolute;
  top: 62px;
  right: 60px;
}
.left_title {
  position: relative;
}
.cloud1 {
  height: 76px;
  position: absolute;
  left:0;
  top: 78px;
  animation: cl1 50s infinite linear;
}

.cloud2 {
  position: absolute;
  left:322px;
  top: 0;
  animation: cl2 50s infinite linear;
}

.cloud3 {
  position: absolute;
  right: 0;
  top: 45px;
  animation: cl3 50s infinite linear;
}

.principle {
  position: relative;
  width: 100%;
  height: 536px;
  background: url('../assets/img/pexels_photo.webp') no-repeat;
  background-size: cover;
}

.design_title {
  position: absolute;
  color: #FFF;
  font-size: 30px;
  top: 80px;
  left: 50%;
}

.design_content {
  width: 100%;
  position: absolute;
  top: 40%;
}

.text_content {
  position: absolute;
  width: 190px;
  left: 128px;
  top: 42px;
  color: rgba(0, 0, 0, .6);
  white-space: 2;
  font-size: 14px;
  text-align: left;
}

.title {
  text-align: left;
  font-size: 24px;
  color: #000;
  margin-bottom: 10px;
}

.principle_01,
.principle_02,
.principle_03,
.principle_04 {
  text-align: center;
  position: relative;
}

.principle_01 {
  width: 360px!important;
  height: 200px!important;
  background: url('../assets/img/principle_01.svg') no-repeat;
}

.principle_02 {
  width: 360px!important;
  height: 200px!important;
  background: url('../assets/img/principle_02.svg') no-repeat;
}

.principle_03 {
  width: 360px!important;
  height: 200px!important;
  background: url('../assets/img/principle_03.svg') no-repeat;
}

.principle_04 {
  width: 360px!important;
  height: 200px!important;
  background: url('../assets/img/principle_04.svg') no-repeat;
}

.resources_content {
  position: relative;
  text-align: center;
  height: 516px;
}

.resources_title {
  position: absolute;
  color: rgba(58, 69, 76, .9);
  font-size: 30px;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
}

.resources_text {
  width: 100%;
  position: absolute;
  top: 158px;
  color: rgba(0, 0, 0, .6);
  font-size: 16px;
  left: 50%;
  transform: translateX(-50%);
}

.resources_download {
  position: absolute;
  top: 260px;
  padding: 0 120px;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  display: flex;
  /* left: 50%; */
  /* transform: translateX(-50%); */
  justify-content: space-between;
}

.download_size {
  width: 576px;
  height: 144px;
  padding: 0 34px;
  box-sizing: border-box;
  background-color: #F8F8F8;
  display: flex;
  align-items: center;
}

.download:hover {
  cursor: pointer;
}

.Skeych {
  text-align: left;
  padding: 0 20px;
  font-size: 16px;
  color: #000;
  margin-bottom: 8px;
}

.Skeych_descript {
  padding: 0 20px;
  color: rgba(0, 0, 0, .6);
  font-size: 14px;
  text-align: left;
}

.team {
  text-align: center;
  position: relative;
  width: 100%;
  height: 380px;
  background-color: #F8F8F8;
  padding: 0 120px;
  box-sizing: border-box;
}

.project {
  text-align: center;
  position: relative;
  width: 100%;
  height: 808px;
}

.case {
  position: absolute;
  width: 100%;
  top: 260px;
  display: flex;
  justify-content: space-around;
}

.join_content{
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.join {
  position: absolute;
  top: 708px;
  color: #333333;
  font-size: 20px;
}

.footer {
  width: 100%;
  height: 72px;
  font-size: 16px;
  line-height: 72px;
  text-align: center;
  background-color: #2F323B;
  color: rgba(255, 255, 255, .6);
}

.content .cloud1 {
  top: 0;
}

.Avatar {
  display: flex;
  position: absolute;
  top: 228px;
  left: 55%;
  transform: translateX(-50%);
}

.circle {
  position: relative;
  text-align: right;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  background-color: #fff;
}

.circle img {
  position: absolute;
  top: 0px;
  left: 2px;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  cursor: pointer;
}

.tip {
  position: relative;
  text-align: left;
  padding-left: 16px;
  padding-top: 8px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, .8);
  margin: 20px auto;
  width: 137px;
  height: 69px;
  color: #F8F8F8;
  border-radius: 2px;
  font-family: sans-serif;
}

.name {
  color: rgba(0, 0, 0, .8);
  font-weight: bold;
}

.tip:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border: 8px solid;
}

.bottom:after {
  border-top-color: rgba(0, 0, 0, .8);
  top: 100%;
  left: 50%;
  margin-left: -15px;
}

.translate1 {
  left: -15px;
}
.translate2 {
  left: -26px;
}
.translate3 {
  left: -38px;
}
.translate4 {
  left: -50px;
}
.translate5 {
  left: -118px;
}

.translate6 {
  left: -106px;
}

.translate7 {
  left: -62px;
}

.translate8 {
  left: -78px;
}

.translate9 {
  left: -90px;
}

.tooltip_container {
  position: relative;
}

.swiper-button-prev, .swiper-button-next {
  color: rgba(255, 255, 255, .4) !important;
}

.email_path {
  color: #13B886;
}

.swiper-container {
  z-index:1 !important;
}



@keyframes myMove0 {
  0%{transform: translateY(0px) }
  50%{transform: translateY(40px) }
  100%{transform: translateY(0px) }
  }

@keyframes myMove1 {
  0%{transform: translateY(0px) }
  50%{transform: translateY(-40px) }
  100%{transform: translateY(0px) }
}

@keyframes cl1 {
  0%{transform: translateX(0px) }
  50%{transform: translateX(300px) }
  100%{transform: translateX(0px) }
}

@keyframes cl2 {
  0%{transform: translateX(0px) }
  50%{transform: translateX(-300px) }
  100%{transform: translateX(0px) }
}

@keyframes cl3 {
  0%{transform: translateX(0px) }
  50%{transform: translateX(-300px) }
  100%{transform: translateX(0px) }
}
