body, html, ul, h1, p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
	text-decoration: none;
	color: rgba(0, 0, 0, .4);
}

.design_tent {
	width: 100%;
	padding-bottom: 130px;
  box-sizing: border-box;
}

.design_tent_header {
	top: 0;
	left: 0;
	z-index: 1;
  width: 100%;
	height: 80px;
	position: fixed;
}


.design_tent_header .design_tent_header_container {
	width: 100%;
	height: 100%;
	display: flex;
	padding: 0 124px;
	/* position: relative; */
	background-color: #fff;
	box-sizing: border-box;
	justify-content: space-between;
	box-shadow: 0 2px 8px 0px rgba(0, 0, 0, .1);
}

.design_tent_header .header_left {
	position: relative;
}


.header_left .header_left_logo {
	top: 50%;
	display: flex;
	position: absolute;
	transform: translateY(-50%);
}


.design_tent_header img {
	width: 19px;
	height: 22px;
	margin-top: 3px;
  vertical-align: middle;
}

.design_tent_header .DBox {
	font-size: 20px;
	margin-left: 14px;
	font-family:PingFangSC-Regular;
}

.design_tent_header .header_right {
	display: flex;
}

.header_right ul {
	top: 50%;
	display: flex;
	position: relative;
	transform: translateY(-50%);
}

.header_right ul > div {
	height: 100%;
}

.header_right ul li {
	height: 80px;
	font-size:14px;
	font-weight:400;
	line-height: 80px;
	font-family:PingFangSC-Regular;
}

.header_right ul li a {
	width: 100%;
	height: 100%;
	padding: 0 12px;
	display: inline-block;
	box-sizing: border-box;
}

.header_right ul li a:hover {
	cursor: pointer;
	color: #13B886;
	border-bottom: 3px solid #13B886;
}

.design_tent .content_container {
	padding: 0 124px;
	margin-top: 136px;
}

.content_container h1 {
	font-size: 38px;
	font-weight: 500px;
	margin-bottom: 24px;
	color: rgba(0, 0, 0, .8);
	font-family:PingFangSC-Regular;
}

.content_container p {
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;
	margin-bottom: 24px;
	letter-spacing: 1px;
	color: rgba(0, 0, 0, .6);
	font-family:PingFangSC-Regular;
}

.content_container p:last-child {
	margin-bottom: 56px;
}

.tent_container span {
	color: #000;
	font-size: 14px;
	font-weight: 500;
	margin-right: 48px;
	font-family:PingFangSC-Regular;
}

.content_container .principle {
	width: 800px;
	height: 600px;
	margin: 0 auto;
}

.principle img {
	width: 100%;
	height: 100%;
}
