@import "../../../style/theme/default/index.less";
@import "../../../style/mixins/index";
@import "../../input/style/mixin";

@pagination-prefix-cls: ~"@{idoll-prefix}-pagination";

.@{pagination-prefix-cls} {
    .reset-component;
    ul, ol {
        padding: 0;
        margin: 0;
        list-style: none;
    }
    &:after {
        content: " ";
        display: block;
        height: 0;
        clear: both;
        overflow: hidden;
        visibility: hidden;
    }
    &-total-text {
        display: inline-block;
        vertical-align: middle;
        height: @pagination-item-size;
        line-height: @pagination-item-size;
        margin-right: 8px;
    }
    &-item {
        display: inline-block;
        cursor: pointer;
        border: @border-width-base @border-style-base @border-color-base;
        border-radius: @border-radius-base;
        min-width: @pagination-item-size;
        height: @pagination-item-size;
        text-align: center;
        padding: (@pagination-item-size - 22)/2 0;
        vertical-align: middle;
        margin-right: 8px;
        background: @component-background;
        font-family: Arial;
        outline: 0;
        text-align: center;
        a {
            text-decoration: none;
            color: @text-color;
            transition: none;
            margin: 0 6px;
            min-width: 8px;
            height: 22px;
            display: block;
            margin: auto;
        }
        &:focus,
        &:hover {
            transition: all .3s;
            border-color: @primary-color;
            a {
                color: @primary-color;
            }
        }
        &-active {
            // background-color: @primary-color;
            border-color: @primary-color;

            &:focus,
            &:hover {
                border-color: @primary-Hover;
                color: @primary-Hover; 
            }
            a,
            &:focus a {
                color: @primary-color;
            }
            &:hover a {
                color: @primary-Hover;
                color: @primary-Hover; 
            }
        }
    }
    &-prev,
    &-next,
    &-jump-prev,
    &-jump-next {
        display: inline-block;
        min-width: @pagination-item-size;
        height: @pagination-item-size;
        line-height: @pagination-item-size;
        border-radius: @border-radius-base;
        text-align: center;
        vertical-align: middle;

        font-family: Arial;
        cursor: pointer;
        color: @text-color;
        list-style: none;
        transition: all .3s;
    }
    &-prev,
    &-jump-prev,
    &-jump-next {
        margin-right: 8px;
    }
    &-jump-prev,
    &-jump-next {
        outline: 0;

        &:after {
            content: "...";
            display: block;
            letter-spacing: 2px;
            color: @disabled-color;
            text-align: center;
        }
        &:focus,
        &:hover {
          &:after {
            color: @primary-color;
            .iconfont-size-under-12px(8px);
            letter-spacing: -1px;
            font-family: "idollicon";
          }
        }
    }
    &-jump-prev {
      &:focus,
      &:hover {
        &:after {
          content: "\E938";
        }
      }
    }
    &-jump-next {
      &:focus,
      &:hover {
        &:after {
          content: "\E92C";
        }
      }
    }
    &-prev,
    &-next {
        outline: 0;

        a{
            color: @text-color;
            user-select: none;
        }

        &:hover a {
            color: @primary-color;
        }

        .@{pagination-prefix-cls}-item-link {
            border: @border-width-base @border-style-base @border-color-base;
            background-color: @component-background;
            border-radius: @border-radius-base;
            outline: none;
            display: block;
            width: 32px;
            height: 32px;
            padding: 15px;
            position: relative;
            transition: all .3s;
            &:after {
                display: block;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%,-50%);
                height: @pagination-item-size - 2px;
                line-height: @pagination-item-size - 2px;
                text-align: center;
                font-size: 12px;
                font-weight: 500;
                font-family: "idollicon";
            }
        }
        &:focus .@{pagination-prefix-cls}-item-link,
        &:hover .@{pagination-prefix-cls}-item-link {
            border-color: @primary-color;
            color: @primary-color;
        }
    }
    &-prev {
        .@{pagination-prefix-cls}-item-link:after {
            content: "\E913";
            display: block;
            width: 16px;
            height: 16px;
            line-height: 16px;
            font-family: 'idoll-icon-pro' !important;
        }
    }
    &-next {
        .@{pagination-prefix-cls}-item-link:after {
            content: "\E915";
            display: block;
            width: 16px;
            line-height: 16px;
            height: 16px;
            font-family: 'idoll-icon-pro' !important;
        }
    }
    &-disabled {
        &,
        &:hover,
        &:focus {
            cursor: not-allowed;
            a,
            .@{pagination-prefix-cls}-item-link {
                border-color: @border-color-base;
                color: @disabled-color;
                cursor: not-allowed;
            }
        }
    }
    &-slash {
        margin: 0 10px 0 5px;
    }
    &-options {
        display: inline-block;
        vertical-align: middle;
        margin-left: 16px;

        &-size-changer {
            display: inline-block;
            margin-right: 8px;
            .idoll-select-selection {
                height: 32px;
                padding: 5px 8px;
                &__rendered {
                   height: 20px;
                   line-height: 20px;
                   padding-left: 0; 
                   padding-right: 20px;
                   font-weight: 400;
                }
                &-selected-value {
                    min-width: 55px;
                }
                .idoll-select-arrow {
                    font-size: 16px;
                    top: 50%;
                    transform: translateY(-10%)
                }
            }
        }
        &-quick-jumper {
            display: inline-block;
            height: @input-height-base;
            line-height: @input-height-base;

            input {
                .input;
                margin: 0 8px;
                width: 60px;
            }
        }
    }
    &-simple &-prev,
    &-simple &-next {
        height: @pagination-item-size-sm;
        line-height: @pagination-item-size-sm;
        vertical-align: top;
        .@{pagination-prefix-cls}-item-link {
            border: 0;
            height: @pagination-item-size;
            &:after {
                line-height: @pagination-item-size-sm;
            }
        }
    }
    &-simple &-simple-pager {
        display: inline-block;
        margin-right: 8px;
        height: @pagination-item-size;

        input {
            margin-right: 8px;
            box-sizing: border-box;
            background-color: @component-background;
            border-radius: @border-radius-base;
            border: @border-width-base @border-style-base @border-color-base;
            outline: none;
            padding: 0 6px;
            height: 100%;
            text-align: center;
            transition: border-color .3s;

            &:hover {
                border-color: @primary-color;
            }
        }
    }

    &.mini {
        // .@{pagination-prefix-cls} {
        //     &-prev {
        //         width: 24px;
        //     }
        // }
        li.@{pagination-prefix-cls}-item {
            border: 1px solid transparent;
            padding: 0;
            a {
                line-height: @pagination-item-size-sm;
            }
        }
        li.@{pagination-prefix-cls}-item:hover {
            border: 1px solid @primary-color;
        }
        li.@{pagination-prefix-cls}-item-active {
            border: 1px solid @primary-color;
            padding: 0;
            a {
                line-height: @pagination-item-size-sm;
            }
        }
        li.@{pagination-prefix-cls}-item-active:hover {
            border-color: @primary-Hover;
        }
    }

    &.mini &-total-text,
    &.mini &-simple-pager {
        height: @pagination-item-size;
        line-height: @pagination-item-size;
    }

    &.mini &-item {
        border: 0;
        margin: 0;
        min-width: @pagination-item-size-sm;
        height: @pagination-item-size-sm;
        line-height: @pagination-item-size-sm;
    }
    &.mini &-prev,
    &.mini &-next {
        margin: 0;
        min-width: @pagination-item-size-sm;
        height: @pagination-item-size-sm;
        line-height: @pagination-item-size-sm;
    }
    &.mini &-prev &-item-link,
    &.mini &-next &-item-link {
        border: 0;
        &::after {
            height: @pagination-item-size-sm;
            line-height: @pagination-item-size-sm;
        }
    }
    &.mini &-jump-prev,
    &.mini &-jump-next {
        height: @pagination-item-size-sm;
        line-height: @pagination-item-size-sm;
        margin-right: 0;
    }
    &.mini &-options {
        margin-left: 8px;
        &-quick-jumper {
            height: @pagination-item-size-sm;
            line-height: @pagination-item-size-sm;

            input {
                .input-sm;
                width: 44px;
            }
        }
    }
}

@media only screen and (max-width: @screen-lg) {
    .@{pagination-prefix-cls}-item {
        &-after-jump-prev,
        &-before-jump-next {
            display: none;
        }
    }
}

@media only screen and (max-width: @screen-sm) {
    .@{pagination-prefix-cls}-options {
        display: none;
    }
}
