@import "../../../style/theme/default/default2.less";
@confirm-prefix-cls: idoll-confirm;

.@{confirm-prefix-cls} {
  width: @modal-width !important;
  .idoll-modal-header {
    display: none;
  }

  .idoll-modal-body {
    padding: @padding-lg @padding-lg @padding-md @padding-lg;
  }

  &-body {
    .@{confirm-prefix-cls}-title {
      color: @text-color;
      font-weight: bold;
      font-size: @padding-md;
      line-height: @padding-lg;
    }

    .@{confirm-prefix-cls}-content {
      color: @text-color;
      padding: @padding-md 0px @padding-md (@padding-md + @padding-lg);
      p {
      font-size: @font-size-base;
      line-height: @modal-line-height;
      }
    }

    > .idoll-icon {
      font-size: @modal-font-size;
      margin-right:@padding-md;
      position: relative;
    }
  }

  .@{confirm-prefix-cls}-btns {
    margin-top: @padding-md;
    float: right;

    button {
      margin-left: @margin-xs;
      margin-bottom: 0;
    }
  }

  &-error &-body > .idoll-icon {
    color: @error-color;
  }

  &-warning &-body >.idoll-icon {
    color: @warning-color;
  }

  &-confirm &-body > .idoll-icon {
    color: @primary-color;
    &:before {
      font-family: "idollicon" !important;
      content: "\E70C";
    }
  }

  &-info &-body > .idoll-icon {
    color: @primary-color;
  }

  &-success &-body > .idoll-icon {
    color: @success-color;
  }
}
