@confirm-prefix-cls: idoll-confirm;

.@{confirm-prefix-cls} {
  width: 408px !important; 
  .idoll-modal-header {
    display: none;
  }

  .idoll-modal-body {
    padding: 24px;
  }

  &-body {
    .@{confirm-prefix-cls}-title {
      color: @text-color;
      font-weight: bold;
      font-size: 16px;
      line-height: 24px;
    }

    .@{confirm-prefix-cls}-content {
      margin-left: 40px;
      font-size: @font-size-base;
      color: @text-color;
      margin-right: 8px;
      margin-top: 16px;
    }

    > .idoll-icon {
      font-size: 24px;
      margin-right: 16px;
      position: relative;
    }
  }

  .@{confirm-prefix-cls}-btns {
    margin-top: 53px;
    float: right;

    button + button {
      margin-left: 10px;
      margin-bottom: 0;
    }
  }

  &-error &-body > .idoll-icon {
    color: @error-color;
  }

  &-warning &-body >.idoll-icon {
    color: @warning-color;
  }

  &-confirm &-body > .idoll-icon {
    color: @primary-color;
    &:before {
      content: "\E912";
      font-family: 'idoll-icon-pro' !important;
    }
  }

  &-info &-body > .idoll-icon {
    color: @primary-color;
  }

  &-success &-body > .idoll-icon {
    color: @success-color;
  }
}