@import '../../../style/theme/default/index.less';
@import '../../../style/mixins/index.less';
@import '../../input/style/mixin.less';

@timepicker-prefix-cls: idoll-time-picker;
@timepicker-item-height: 32px;

.@{timepicker-prefix-cls}-panel {
  .reset-component;
  font-family: @font-family;
  z-index: @zindex-picker;
  position: absolute;

  &-inner {
    position: relative;
    outline: none;
    list-style: none;
    font-size: @font-size-base;
    text-align: left;
    background-color: @time-picker-inner-bg;
    border-radius: @border-radius-base;
    box-shadow: @box-shadow-base;
    background-clip: padding-box;
    left: -2px;
  }

  &-input {
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    max-width:  @time-picker-panel-column-width * 3 - @padding-sm - 2px;
    cursor: auto;
    line-height: normal;
    outline: 0;

    .placeholder;

    &-wrap {
      box-sizing: border-box;
      position: relative;
      padding: 7px 2px 7px @padding-sm;
      border-bottom: @border-width-base @border-style-base @border;
    }

    &-invalid {
      border-color: @error-color;
    }
  }

  &-narrow &-inout-wrap {
    max-width: @time-picker-panel-column-width * 2;
  }

  &-select {
    float: left;
    font-size: @font-size-base;
    border-left: @border-width-base @border-style-base @border;
    box-sizing: border-box;
    border-color: @border;
    width: @time-picker-panel-column-width;
    overflow: hidden;
    position: relative; // Fix chrome weird render bug
    max-height: @timepicker-item-height * 6;

    &:hover {
      overflow-y: auto;
    }

    &:first-child {
      border-left: 0;
      margin-left: 0;
    }

    &:last-child {
      border-right: 0;
    }

    &:only-child {
      width: 100%;
    }

    ul {
      list-style: none;
      box-sizing: border-box;
      margin: 0;
      padding: 0 0 @timepicker-item-height * 5;
      width: 100%;
    }

    li {
      list-style: none;
      box-sizing: content-box;
      margin: 0;
      padding: 0 0 0 @padding-sm;
      width: 100%;
      height: @timepicker-item-height;
      line-height: @timepicker-item-height;
      text-align: left;
      cursor: pointer;
      user-select: none;
      transition: background 0.3s;
    }

    li:hover {
      background: @primary-lightBg;
    }

    li&-option-selected {
      background: @time-picker-selected-bg;
      font-weight: bold;
      &:hover {
        background: @time-picker-selected-bg;
      }
    }

    li&-option-disabled {
      color: @text-color-disable;
      font-weight: bold;
      &:hover {
        background: transparent;
        cursor: not-allowed;
      }
    }
  }


  &-combobox {
    .clearfix;
  }

  &-addon {
    padding: 8px @padding-xs;
    border-top: @border-width-base @border-style-base @border;
  }

  &.slide-up-enter.slide-up-enter-active&-placement-topLeft,
  &.slide-up-enter.slide-up-enter-active&-placement-topRight,
  &.slide-up-appear.slide-up-appear-active&-placement-topLeft,
  &.slide-up-appear.slide-up-appear-active&-placement-topRight {
    animation-name: idollSlideDownIn;
  }

  &.slide-up-enter.slide-up-enter-active&-placement-bottomLeft,
  &.slide-up-enter.slide-up-enter-active&-placement-bottomRight,
  &.slide-up-appear.slide-up-appear-active&-placement-bottomLeft,
  &.slide-up-appear.slide-up-appear-active&-placement-bottomRight {
    animation-name: idollSlideUpIn;
  }

  &.slide-up-leave.slide-up-leave-active&-placement-topLeft,
  &.slide-up-leave.slide-up-leave-active&-placement-topRight {
    animation-name: idollSlideDownOut;
  }

  &.slide-up-leave.slide-up-leave-active&-placement-bottomLeft,
  &.slide-up-leave.slide-up-leave-active&-placement-bottomRight {
    animation-name: idollSlideUpOut;
  }
}

.@{timepicker-prefix-cls} {
  .reset-component;
  position: relative;
  display: inline-block;
  outline: none;
  transition: opacity .3s;
  width: 128px;

  &-input {
    .input;
    &[disabled] {
      .disabled;
    }
  }

  &-open {
    opacity: 0;
  }

  &-icon,
  &-clear {
    position: absolute;
    user-select: none;
    transition: all .3s @ease-in-out;
    width: @time-icon-width;
    height: @time-icon-height;
    line-height: @time-icon-line-height;
    right: @padding-sm - 1px;
    color: @text-color-disable;
    top: 50%;
    margin-top: -7px;
    .@{timepicker-prefix-cls}-clock-icon {
      color: @text-color-disable;
      display: block;
      line-height: @time-clock-icon-line-height;
    }
  }

  &-clear {
    z-index: 2;
    background: @input-bg;
    opacity: 0;
    pointer-events: none;
    &:hover {
      color: @text-color-secondary;
      cursor: pointer;
    }
  }

  &:hover &-clear {
    opacity: 1;;
    pointer-events: auto;
  }

  &-large &-input {
    .input-lg;
  }

  &-small &-input {
    .input-sm;
  }

  &-small &-icon {
    right: @padding-xs - 1px;
  }
}
