@import '../../../style/theme/default/index';
@import '../../../style/index';
@typography-prefix-cls: ~'idoll-typography';

.@{typography-prefix-cls} {
  .reset-component;
  &-img {
   width: 100%;
   margin: 10px 0;
  }
  &-wrap {
    margin-bottom: 20px;
  }
  &-title {
    margin: 40px 0;
  }
  &-title > h4 {
    font-weight: 500px;
    color: rgba(0,0,0,.8);
    font-size: 18px;
    margin-bottom: 16px;
  }
  &-h5 {
    font-weight: 500;
    margin-bottom: 16px;
    color: rgba(0,0,0,0.8);
  }
  &-p {
    color: rgba(0,0,0, .6);
  }
  &-des {
  font-size: 12px;
  color: rgba(0,0,0,.6)
  }
  &-props > dt {
    font-size: 14px;
    color: rgba(0,0,0,0.8);
    font-weight: 500;
    margin-bottom: 16px;
  }
  &-props > dd {
    font-size: 14px;
    color: rgba(0,0,0,0.6);
    margin-bottom: 8px;
  }
  &-title > p {
    font-size: inherit;
  }
}
