@import "../../../style/theme/default/index.less";
@import "../../../style/mixins/index.less";

@spin-prefix-cls: ~"@{idoll-prefix}-spin";

.@{spin-prefix-cls} {
  .reset-component;
  color: @primary-color;
  vertical-align: middle;
  text-align: center;
  opacity: 0;
  position: absolute;
  transition: transform 0.3s @ease-in-out-circ;
  display: none;

  &-spinning {
    opacity: 1;
    position: static;
    display: inline-block;
  }

  &-nested-loading {
    position: relative;
    > div > .@{spin-prefix-cls} {
      display: block;
      position: absolute;
      height: 100%;
      max-height: 360px;
      width: 100%;
      z-index: @spin-zindex;
      .@{spin-prefix-cls}-dot {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -@spin-dot-size / 2;
        &-spin {
          margin: -@spin-dot-size / 2;
        }
      }
      .@{spin-prefix-cls}-text {
        position: absolute;
        top: 50%;
        width: 100%;
        padding-top: (@spin-dot-size - @font-size-base) / 2 + 2px;
        text-shadow: @spin-text-shadow;
      }
      &.@{spin-prefix-cls}-show-text .@{spin-prefix-cls}-dot {
        margin-top: -@spin-dot-size / 2 - 20px;
        margin-left: -@spin-dot-size / 2 - 5px;
      }
    }

    > div > .@{spin-prefix-cls}-sm {
      .@{spin-prefix-cls}-dot {
        margin: -@spin-dot-size-sm / 2;
      }
      .@{spin-prefix-cls}-text {
        padding-top: (@spin-dot-size-sm - @font-size-base) / 2 + 2px;
      }
      &.@{spin-prefix-cls}-show-text .@{spin-prefix-cls}-dot {
        margin-top: -@spin-dot-size-sm / 2 - 10px;
      }
    }

    > div > .@{spin-prefix-cls}-lg {
      .@{spin-prefix-cls}-dot {
        margin: -@spin-dot-size-lg / 2;
      }
      .@{spin-prefix-cls}-text {
        padding-top: (@spin-dot-size-lg - @font-size-base) / 2 + 2px;
      }
      &.@{spin-prefix-cls}-show-text .@{spin-prefix-cls}-dot {
        margin-top: -@spin-dot-size-lg / 2 - 10px;
      }
    }
  }

  &-container {
    position: relative;
    transition: opacity .3s;
    .clearfix;
  }

  &-blur {
    pointer-events: none;
    user-select: none;
    overflow: hidden;
    opacity: 0.5;
    -webkit-filter: blur(0.5px);
    filter: blur(0.5px);

    /* autoprefixer: off */
    filter: ~"progid\:DXImageTransform\.Microsoft\.Blur(PixelRadius\=1, MakeShadow\=false)";

    &:after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: @spin-background;
      opacity: 0.3;
      transition: all .3s;
      z-index: 10;
    }
  }

  // tip
  // ------------------------------
  &-tip {
    color: @spin-dot-default;
  }

  // dots
  // ------------------------------

  &-dot {
    position: relative;
    display: inline-block;
    font-size: @spin-dot-size;

    // .square(@spin-dot-size);
    width: @spin-base-width;
    height: @spin-base-height;

    i {
      display: inline-block;
      content: '';
      width: @spin-base-width;
      height: @spin-base-height;
      border: @border-width-base @border-style-base;
      margin-right: 8px;
      border-color: @primary-color @spin-border-color @spin-border-color @spin-border-color;
      border-width: @spin-base-width-default;
      border-radius: 50%;
      box-sizing: border-box;
      /*动画时间1s，线性变化，无限循环*/
      animation: loading 1s linear infinite;
      animation-name: rotate;
    }

    &-spin {
      // transform: rotate(45deg);
      animation: idollRotate 1s linear linear;
    }
  }

  // Sizes
  // ------------------------------

  // small
  &-sm &-dot {
    font-size: @spin-dot-size-sm;

    // .square(@spin-dot-size-sm);
    width: @spin-width-sm;
    height: @spin-height-sm;
    i {
      border-width: @spin-border-width-sm;
      width: @spin-width-sm;
      height: @spin-height-sm;
    }
  }

  // large
  &-lg &-dot {
    font-size: @spin-dot-size-lg;

    // .square(@spin-dot-size-lg);
    width: @spin-width-lg;
    height: @spin-height-lg;
    i {
      border-width: @spin-border-width-lg;
      width: @spin-width-lg;
      height: @spin-height-lg;
    }
  }

  &&-show-text &-text {
    display: block;
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* IE10+ */
  .@{spin-prefix-cls}-blur {
    background: @spin-blur-background;
    opacity: 0.5;
  }
}

@keyframes idollSpinMove {
  to {
    opacity: 1;
  }
}

@keyframes idollRotate {
  to {
    transform: rotate(405deg);
  }
}
