@import '../../../style/theme/default/index';
@import '../../../style/mixins/index';

// size mixins for input
.input-lg() {
  padding: @input-padding-vertical-lg @input-padding-horizontal;
  height: @input-height-lg;
  font-size: @font-size-lg;
}

.input-sm() {
  padding: @input-padding-vertical-sm @input-padding-horizontal-sm;
  height: @input-height-sm;
  border-radius: @border-radius-sm;
  font-size: @font-size-sm;
}

// input status
// == when focus or actived
.active(@color: @primary-color) {
  // border-color: tint(@color, 20%);
  border-color: @color;
  outline: 0;
  box-shadow: 0 0 0 2px fade(@color, 20%);
  border-right-width: 1px !important;
}

// == when hoverd
.hover(@color: @input-hover-border-color) {
  // border-color: tint(@color, 20%);
  border-color: @color;
  border-right-width: 1px !important;
}

.disabled() {
  background-color: @input-disabled-bg;
  opacity: 1;
  cursor: @cursor-disabled;
  color: @text-color-disable;
  &:hover {
    .hover(@input-border-color);
  }
}

// Basic style for input
.input() { 
  position: relative;
  display: inline-block;
  padding: @input-padding-vertical-base @input-padding-horizontal;
  width: 100%;
  height: @input-height-base;
  cursor: text;
  font-size: @font-size-base;
  line-height: @line-height-base;
  color: @input-color;
  background-color: @input-bg;
  background-image: none;
  border: 1px solid @border;
  // border: 1px solid @input-border-color;
  border-radius: @border-radius-base;
  .placeholder(); // Reset placeholder
  // transition: border .2s @ease-in-out, background .2s @ease-in-out, box-shadow .2s @ease-in-out;
  transition: all .3s;

  &:hover {
    .hover();
  }

  &:focus {
    .active();
  }

  &[disabled],
  fieldset[disabled] & {
   .disabled();
  }

  // Reset height for `textarea`s
  textarea& {
    max-width: 100%; // prevent textearea resize from coming out of its container
    height: auto;
    vertical-align: bottom;
    min-height: 32px;
  }

  // Size
  &-lg {
    .input-lg();
  }

  &-sm {
    .input-sm();
  }
}

// Input with icons, you can define @height if you wish to change the input size
.input-with-icon(@height: @input-height-base) {
  position: relative;

  .@{iconfont-css-prefix} {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
    .square(@height);
    font-size: 14px;
    line-height: @height;
    text-align: center;
    pointer-events: none;
  }
}

// label input
.input-group(@inputClass) {
  position: relative;
  display: table;
  border-collapse: separate;
  // border: 1px solid @input-border-color;
  // border-radius: @border-radius-base;
  border-spacing: 0;
  width: 100%;

  // Undo padding and float of grid classes
  &[class*="col-"] {
    float: none;
    padding-left: 0;
    padding-right: 0;
  }

  > [class*="col-"] {
    padding-right: 8px;
  }
  
  &:hover {
    .hover();
  }

  &-addon,
  &-wrap,
  > .@{inputClass} {
    display: table-cell;

    &:not(:first-child):not(:last-child) {
      border-radius: 0;
    }
    border: 0;
    box-shadow: none;
  }

  &-addon,
  &-wrap {
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
  }

  &-wrap > * {
    display: block !important;
  }

  .@{inputClass} {
    float: left;
    width: 100%;
    margin-bottom: 0;
    border: 1px solid @input-border-color;
    &:focus {
      z-index: 1; // Fix https://gw.alipayobjects.com/zos/rmsportal/DHNpoqfMXSfrSnlZvhsJ.png
      border-right-width: 1px;
    }
    &:hover {
      z-index: 1;
      border-right-width: 1px;
      border: 1px solid tint(@input-hover-border-color, 20%);
    }
  }

  &-addon {
    padding: @input-padding-vertical-base+1 @input-padding-horizontal;
    font-size: @font-size-base;
    font-weight: normal;
    line-height: 1;
    color: @input-color;
    text-align: center;
    background-color: @input-addon-bg;
    border: 1px solid @input-border-color;
    border-radius: @border-radius-base;

    // Reset Select's style in addon
    .idoll-select {
      margin: -(@input-padding-vertical-base + 1) (-@input-padding-horizontal);  // lesshint spaceAroundOperator: false

      .idoll-select-selection {
        background-color: inherit;
        margin: -1px;
        border: 1px solid transparent;
        box-shadow: none;
      }
    }
  }

  // Reset rounded corners
  > span > .@{inputClass}:first-child,
  > .@{inputClass}:first-child,
  &-addon:first-child {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;

    // Reset Select's style in addon
    .idoll-select .idoll-select-selection {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }
  }

  &-addon:first-child {
    border-right: 0;
  }
  &-addon:last-child {
    border-left: 0;
  }

  > .@{inputClass}:last-child,
  &-addon:last-child {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;

    // Reset Select's style in addon
    .idoll-select .idoll-select-selection {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }
  }

  // Sizing options
  &-lg .@{inputClass},
  &-lg > &-addon {
    .input-lg();
  }

  &-sm .@{inputClass},
  &-sm > &-addon {
    .input-sm();
  }
}

.input-affix-wrapper(@inputClass) {
  position: relative;
  display: inline-block;
  width: 100%;


  .@{inputClass} {
    z-index: 1;
  }

  &:hover .@{inputClass}:not(.@{inputClass}-disabled) {
    .hover();
  }
  .@{inputClass} {
    position: static;
  }

  .@{inputClass}-prefix,
  .@{inputClass}-suffix {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    line-height: 0;
    color: @input-color;
  }

  .@{inputClass}-prefix {
    left: @input-padding-horizontal-base + 1px;
  }

  .@{inputClass}-suffix {
    right: @input-padding-horizontal-base + 1px;
  }

  .@{inputClass}:not(:first-child) {
    padding-left: @input-padding-horizontal-base + @input-affix-width;
  }

  .@{inputClass}:not(:last-child) {
    padding-right: @input-padding-horizontal-base + @input-affix-width + 2px;
  }
}

