// @import '../../../style/theme/default/index';
// @import '../../../style/mixins/index';
@import '../../button/style/mixin';
@import './mixin';

@search-prefix: ~'@{idoll-prefix}-input-search';


.@{search-prefix} {
  &-large {
    > .@{idoll-prefix}-input-suffix {
      font-size: @font-size-base + 2px;
    }
  }

  &-small {
    > .@{idoll-prefix}-input-suffix {
      font-size: @font-size-base - 2px;
    }
  }

  &-icon {
    pointer-events: none;
    color: @text-color-secondary;
  }

  & > .@{idoll-prefix}-input-suffix {
    right: @control-padding-horizontal;
  }

  > .@{idoll-prefix}-input-suffix > .@{search-prefix}-button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border: 0;
    padding: @input-padding-vertical-base @input-padding-horizontal; 
    > .@{iconfont-css-prefix}-search {
      font-size: @font-size-base;
    }
  }

  
  > .@{idoll-prefix}-input-suffix > .@{idoll-prefix}-btn {
    // 搜索按钮左边为直角
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    > .@{idoll-prefix}-icon-search {
      color: @input-bg;  // 图标颜色
    }
  }

  &.@{search-prefix}-enter-button > .@{idoll-prefix}-input {
    padding-right: 46px;
  }

  &.@{search-prefix}-enter-button > .@{idoll-prefix}-input-suffix {
    right: 0;
  }
}
.icon-hover:hover {
  cursor: pointer;
}
