@import '../../../style/theme/default/default.less';
@import '../../../style/mixins/index.less';

@empty-prefix-cls: ~'@{idoll-prefix}-empty';

.@{empty-prefix-cls} {
    margin: 0 8px;
    font-size: @empty-font-size;
    line-height: 22px;
    text-align: center;

    &-image {
        height: 100px;
        margin-bottom: 8px;

        img {
            height: 100%;
        }
    }

    &-description {
        margin: 0;
    }

    &-footer {
        margin-top: 16px;
    }

    &-small {
        margin: 8px 0;

        .@{empty-prefix-cls}-image {
            height: 35px;
        }
    }

    &-normal {
        margin: 32px 0;
        .@{empty-prefix-cls}-image {
            height: 40px;
        }
    }
}
