@import "../../../style/theme/default/default.less";
@import "../../../style/mixins/index.less";

@message-prefix-cls: ~"@{idoll-prefix}-notification";

.@{message-prefix-cls} {
  .reset-component;
  position: fixed;
  z-index: @zindex-message;
  width: 100%;
  top: 16px;
  left: 0;
  pointer-events: none;

  &-notice {
    padding: 8px;
    text-align: center;
    &:first-child {
      margin-top: -8px;
    }
  }

  // &-notice-content {
  //   padding:  @padding-xs @padding-sm+2;
  //   background: @component-background;
  //   box-shadow: @shadow-2;
  //   border-radius: @border-radius-base;
  //   display: inline-block;
  //   pointer-events: all;
  //   // background-color: @success-color;
  //   // color: #fff;
  // }

  &-notice-content &-custom-content {
    // padding:  @padding-xs @padding-sm+2;
    width: 384px;
    // height: 108px;
    background: @component-background;
    box-shadow: @Shadow-large;
    // border-radius: @border-radius-base;
    border-radius: 4px;
    display: inline-block;
    pointer-events: all;
    text-align: left;
    padding: 16px 24px;
    p {
      font-size: 14px;
      line-height: 22px;
      color: rgba(0,0,0,0.65);
      font-weight: 400;
    }
    .title {
      font-size: 16px;
      position: relative;
      line-height: 24px;
      color:rgba(0,0,0,0.85);
      font-weight: 500;
      margin-bottom: 8px;
      i {
        position: absolute;
        right: 0;
        top: 0;
        color: @text-color;
        cursor: pointer;
      }

    }
  }

  .content-success {
    background-color: @success-color;
    color: #fff;
  }

  .content-error {
    background-color: @error-color;
    color: #fff;
  }

  .content-info {
    background-color: @warning-color;
    color: #fff;
  }

  .content-loading {
    background-color: @warning-color;
    color: #fff;
  }

  .content-warning, .content-warning {
    background-color: @warning-color;
    color: #fff;
  }

  &-success .@{iconfont-css-prefix} {
    color: @success-color;
  }

  &-error .@{iconfont-css-prefix} {
    color: @error-color;
  }

  &-warning .@{iconfont-css-prefix} {
    color: @warning-color;
  }

  &-warn .@{iconfont-css-prefix} {
    color: @warning-color;
  }

  &-loading .@{iconfont-css-prefix} {
    color: @warning-color;
  }

  &-info .@{iconfont-css-prefix} {
    color: @warning-color;
  }

  .@{iconfont-css-prefix} {
    margin-right: 8px;
    font-size: @font-size-lg;
    top: -1px;
    position: relative;
  }

  &-notice.move-up-leave.move-up-leave-active {
    animation-name: notificationMoveOut;
    overflow: hidden;
    animation-duration: .3s; 
  }
}

@keyframes notificationMoveOut {
  0% {
    opacity: 1;
    max-height: 150px;
    padding: 8px;
  }
  100% {
    opacity: 0;
    max-height: 0;
    padding: 0;
  }
}
