@import "../colors/colors.less";

@idoll-prefix             : idoll;

// ----------- Colors ------------

// default colors

@primary-color          : @green-6;
@success-color          : #3CCB69;
@warning-color          : #F9AA29;
@error-color            : #F44336;

// hover colors

@primary-Highlight      : #E7F8F3;
@success-Highlight      : #EBF9F0;
@warning-Highlight      : #FEF6EA;
@error-Highlight        : #FDECEB;


// border color
@primary-border-color   : @primary-color;
@success-border-color   : @success-color;
@warning-border-color   : @warning-color;
@error-border-color     : @error-color;

// ------------ Neutral Colors(中性色) --------------

// 白色背景

@background-base        : #FFFFFF;
@background             : #F8F8F8;
@disabled-text          : fade(#000, 20%);
@secondary-text         : fade(#000, 40%);
@body                   : fade(#000, 60%);
@title                  : fade(#000, 80%);

// 深色背景

@background-base-dark   : #000000;

