/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
// @import "../colors/index.less";
@import "../colors/colors.less";
// The prefix to use on all css classes from idoll.
@idoll-prefix             : idoll;

// -------- Colors -----------
// default colors
@primary-color          : @green-6;
@success-color          : #3CCB69;
@warning-color          : #F9AA29;
@error-color            : #F44336;
@default-color          : #E2E2E2;
@processing-color       : #13B886;

// hover colors
@primary-Hover          : #42C69E;
@success-Hover          : #63D587;
@warning-Hover          : #F9AA29;
@error-Hover            : #F44336;

// Pressed colors
@primary-Pressed          : #42C69E;
@success-Pressed          : #3CCB69;
@warning-Pressed          : #FABB53;
@error-Pressed            : #F6685E;

// LightBg
@primary-LightBg          : #E7F8F3;
@success-LightBg          : #EBF9F0;
@warning-LightBg          : #FEF6EA;
@error-LightBg            : #FDECEB;

// 中性色
@Sider-Menu        : #2F323B;
@Black             : #000000;
@background        : #F5F5F5;
@disabled          : #F8F9FC;
@white             : #FFFFFF;
@shadow            : rgba(18,34,29,0.10);
@border            : #E2E2E2;

// 后期可能需要删除的颜色
@primary-spread-color   : @primary-Pressed;
@info-color             : @primary-color;
@highlight-color        : @primary-Hover;
@processing-color       : @primary-color;
@normal-color           : #d9d9d9;

// 链接颜色
@link-color             : @primary-color;
@link-hover-color       : @primary-spread-color;
@link-active-color      : @primary-color;

// Color used by default to control hover and active backgrounds and for
// alert info backgrounds.
@primary-1: #E6F7FF;  // replace tint(@primary-color, 90%)
@primary-2: #BAE7FF;  // replace tint(@primary-color, 80%)
@primary-3: #91D5FF;  // unused
@primary-4: #69C0FF;  // unused
@primary-5: #40A9FF;  // color used to control the text color in many active and hover states, replace tint(@primary-color, 20%)
@primary-6: @primary-color;                                 // color used to control the text color of active buttons, don't use, use @primary-color
@primary-7: #096DD9;  // replace shade(@primary-color, 5%)
@primary-8: #0050B3;  // unused
@primary-9: #003A8C;  // unused
@primary-10: #002766;  // unused

// Base Scaffolding Variables
// ---

// Background color for `<body>`
@body-background        : #fff;
// Base background color for most components
@component-background   : #fff;

@section-background-dark: #f1f2f7;
@section-background-light: #F8F9FC;


@font-family-no-number  : -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family            : "Helvetica Neue For Number", @font-family-no-number;
@code-family            : Consolas, Menlo, Courier, monospace;

// 白色背景字体颜色
@heading-color          : fade(#000, 85%);
@text-color             : fade(#000, 65%);
@text-color-secondary   : fade(#000, 45%);
@text-color-disable     : fade(#000, 25%);

// 深色背景字体颜色
@heading-color-dark     : fade(#fff, 100%);
@text-color-dark        : fade(#fff,85%);
@text-color-secondary-dark: fade(#fff, 65%);
@text-color-disable-dark: fade(#fff, 45%);


@font-size-base         : 14px;
@font-size-lg           : @font-size-base + 2px;
@font-size-sm           : @font-size-base - 2px;

@line-height-base       : 1.5;
@footer-height: 60px; //Modal footer height
@title-height: 52px; //Modal title height



// vertical paddings
@padding-lg    : 24px; // container s
@padding-md    : 16px; // small containers and buttons
@padding-sm    : 12px; // Form controls and items
@padding-xs    : 8px;  // small items、文字
@message-notice-content-padding: 10px 16px; // message

// inline margins
@margin-xs    : 8px;  // 图标文字间距

// vertical padding for all form controls
@control-padding-horizontal: @padding-sm;
@control-padding-horizontal-sm: @padding-xs;

// The background colors for active and hover states for things like
// list items or table cells.
@item-active-bg         : @primary-1;
@item-hover-bg          : @primary-1;

// ICONFONT
@iconfont-css-prefix    : idoll-icon;
@icon-url               : "/assets/fonts";

// LINK
@link-decoration        : none;
@link-hover-decoration  : none;

// Animation
@ease-out            : cubic-bezier(0.215, 0.61, 0.355, 1);
@ease-in             : cubic-bezier(0.55, 0.055, 0.675, 0.19);
@ease-in-out         : cubic-bezier(0.645, 0.045, 0.355, 1);
@ease-out-back       : cubic-bezier(0.12, 0.4, 0.29, 1.46);
@ease-in-back        : cubic-bezier(0.71, -0.46, 0.88, 0.6);
@ease-in-out-back    : cubic-bezier(0.71, -0.46, 0.29, 1.46);
@ease-out-circ       : cubic-bezier(0.08, 0.82, 0.17, 1);
@ease-in-circ        : cubic-bezier(0.6, 0.04, 0.98, 0.34);
@ease-in-out-circ    : cubic-bezier(0.78, 0.14, 0.15, 0.86);
@ease-out-quint      : cubic-bezier(0.23, 1, 0.32, 1);
@ease-in-quint       : cubic-bezier(0.755, 0.05, 0.855, 0.06);
@ease-in-out-quint   : cubic-bezier(0.86, 0, 0.07, 1);

// Animation speed
@animation-duration-slow: .3s; // Modal
@animation-duration-base: .2s;
@animation-duration-fast: .1s; // Tooltip

// Border
@border-radius-base     : 3px;
@border-radius-sm       : 2px;
@border-color-base      : @border;  // base border outline a component
@border-color-split     : @border;  // split border inside a component
@border-width-base      : 1px;            // width of the border for a component
@border-style-base      : solid;          // style of a components border
@border-style-split     : dash;          // style of a components border

// Outline
@outline-blur-size      : 0;
@outline-width          : 2px;
@outline-color          : @primary-color;

@background-color-light : hsv(0, 0, 98%);  // background of header and selected item
@background-color-base  : hsv(0, 0, 96%);  // Default grey background color

// Disabled states
@disabled-color         : @text-color-disable;
@disabled-bg            : @disabled;
@disabled-color-dark    : text-color-disable-dark;

// Shadow
@shadow-color           : @shadow;
@box-shadow-base        : @shadow-1-down;
// @todo
@shadow-1-up            : 0 2px 8px @shadow-color;
@shadow-1-down          : 0 2px 8px @shadow-color;
@shadow-1-left          : -2px 0 8px @shadow-color;
@shadow-1-right         : 2px 0 8px @shadow-color;
// @shadow-2               : 0 4px 12px @shadow-color;
@Shadow-large               : 0 8px 16px 0 @shadow-color;

// z-index list
@zindex-affix           : 10;
@zindex-back-top        : 10;
@zindex-modal-mask      : 1000;
@zindex-modal           : 1000;
@zindex-notification    : 1010;
@zindex-message         : 1010;
@zindex-popover         : 1030;
@zindex-picker          : 1050;
@zindex-dropdown        : 1050;
@zindex-tooltip         : 1060;

// Disabled cursor for form controls and buttons.
@cursor-disabled        : not-allowed;

//-----------------------------------------------------ALL Control End--------------------------------------------------------------------------

// Media queries breakpoints
// Extra small screen / phone
@screen-xs              : 480px;
@screen-xs-min          : @screen-xs;

// Small screen / tablet
@screen-sm              : 576px;
@screen-sm-min          : @screen-sm;

// Medium screen / desktop
@screen-md              : 768px;
@screen-md-min          : @screen-md;

// Large screen / wide desktop
@screen-lg              : 992px;
@screen-lg-min          : @screen-lg;

// Extra large screen / full hd
@screen-xl              : 1200px;
@screen-xl-min          : @screen-xl;

// Extra extra large screen / large descktop
@screen-xxl              : 1600px;
@screen-xxl-min          : @screen-xxl;

// provide a maximum
@screen-xs-max          : (@screen-sm-min - 1px);
@screen-sm-max          : (@screen-md-min - 1px);
@screen-md-max          : (@screen-lg-min - 1px);
@screen-lg-max          : (@screen-xl-min - 1px);
@screen-xl-max          : (@screen-xxl-min - 1px);

//loading
.loading(@size:18px,@color:#13B886) {
  &:before {
    content: "";//加载icon
    font-family: dboxicon;
    animation: dboxSwitchSmallLoadingCircle 1s infinite linear;
    text-align: center;
    display: inline-block;
    color: @color;
    z-index: 1;
    font-size: 12px;
    border:1px solid;
    border-left:1px solid transparent;
    border-radius: 50%;
    width: @size;
    height: @size;
  }
}

  @keyframes dboxSwitchSmallLoadingCircle {
    0% {
      transform-origin: 50% 50%;
      transform: rotate(0deg) scale(0.66667);
    }
    100% {
      transform-origin: 50% 50%;
      transform: rotate(360deg) scale(0.66667);
    }
  }