/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors */
.idoll-tabs.idoll-tabs-card > .idoll-tabs-bar .idoll-tabs-nav-container {
  height: 46px;
}
.idoll-tabs.idoll-tabs-card > .idoll-tabs-bar .idoll-tabs-ink-bar {
  visibility: hidden;
}
.idoll-tabs.idoll-tabs-card > .idoll-tabs-bar .idoll-tabs-tab {
  margin: 0;
  border: 1px solid #E2E2E2;
  border-radius: 3px 3px 0 0;
  background: #fafafa;
  margin-right: 4px;
  padding: 11px 15px 11px 15px;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  line-height: 22px;
}
.idoll-tabs.idoll-tabs-card > .idoll-tabs-bar .idoll-tabs-tab-active {
  background: #fff;
  border-color: #E2E2E2;
  color: #13B886;
  border-bottom-color: #fff;
  user-select: none;
}
.idoll-tabs.idoll-tabs-card > .idoll-tabs-bar .idoll-tabs-tab-active:hover {
  color: #42C69E;
}
.idoll-tabs.idoll-tabs-card > .idoll-tabs-bar .idoll-tabs-tab-inactive {
  padding: 0;
}
.idoll-tabs.idoll-tabs-card > .idoll-tabs-bar .idoll-tabs-nav-wrap {
  margin-bottom: 0;
}
.idoll-tabs.idoll-tabs-card > .idoll-tabs-bar .idoll-tabs-tab .idoll-icon-close {
  color: rgba(0, 0, 0, 0.45);
  transition: all 0.3s;
  font-size: 12px;
  margin: 0 0 0 8px;
  overflow: hidden;
  vertical-align: middle;
  width: 16px;
  height: 16px;
}
.idoll-tabs.idoll-tabs-card > .idoll-tabs-bar .idoll-tabs-tab .idoll-icon-close:hover {
  color: rgba(0, 0, 0, 0.85);
}
.idoll-tabs.idoll-tabs-card .idoll-tabs-content > .idoll-tabs-tabpane,
.idoll-tabs.idoll-tabs-editable-card .idoll-tabs-content > .idoll-tabs-tabpane {
  transition: none !important;
}
.idoll-tabs.idoll-tabs-card .idoll-tabs-content > .idoll-tabs-tabpane-inactive,
.idoll-tabs.idoll-tabs-editable-card .idoll-tabs-content > .idoll-tabs-tabpane-inactive {
  overflow: hidden;
}
.idoll-tabs.idoll-tabs-card > .idoll-tabs-bar .idoll-tabs-tab:hover .idoll-icon-close {
  opacity: 1;
}
.idoll-tabs-extra-content {
  line-height: 46px;
}
.idoll-tabs-extra-content .idoll-tabs-new-tab {
  width: 24px;
  height: 24px;
  line-height: 22px;
  text-align: center;
  cursor: pointer;
  border-radius: 2px;
  border: 1px solid #E2E2E2;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.65);
  transition: all 0.3s;
}
.idoll-tabs-extra-content .idoll-tabs-new-tab:hover {
  color: #13B886;
  border-color: #13B886;
}
.idoll-tabs-vertical.idoll-tabs-card > .idoll-tabs-bar .idoll-tabs-nav-container {
  height: auto;
}
.idoll-tabs-vertical.idoll-tabs-card > .idoll-tabs-bar .idoll-tabs-tab {
  border-bottom: 1px solid #E2E2E2;
  margin-bottom: 8px;
}
.idoll-tabs-vertical.idoll-tabs-card > .idoll-tabs-bar .idoll-tabs-tab-active {
  padding-bottom: 4px;
}
.idoll-tabs-vertical.idoll-tabs-card > .idoll-tabs-bar .idoll-tabs-tab:last-child {
  margin-bottom: 8px;
}
.idoll-tabs-vertical.idoll-tabs-card > .idoll-tabs-bar .idoll-tabs-new-tab {
  width: 90%;
}
.idoll-tabs-vertical.idoll-tabs-card.idoll-tabs-left > .idoll-tabsbar .idoll-tabs-nav-wrap {
  margin-right: 0;
}
.idoll-tabs-vertical.idoll-tabs-card.idoll-tabs-left > .idoll-tabsbar .idoll-tabs-tab {
  border-right: 0;
  border-radius: 3px 0 0 3px;
  margin-right: 1px;
}
.idoll-tabs-vertical.idoll-tabs-card.idoll-tabs-left > .idoll-tabsbar .idoll-tabs-tab-active {
  margin-right: -1px;
  padding-right: 18px;
}
.idoll-tabs-vertical.idoll-tabs-card.idoll-tabs-right > .idoll-tabs-bar .idoll-tabs-nav-wrap {
  border-left: 0;
  border-radius: 0 3px 3px 0;
  margin-left: 1px;
}
.idoll-tabs-vertical.idoll-tabs-card.idoll-tabs-right > .idoll-tabs-bar .idoll-tabs-nav-wrap-active {
  margin-left: -1px;
  padding-left: 18px;
}
