/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors */
.idoll-tabs.idoll-tabs-card > .idoll-tabs-bar .idoll-tabs-nav-container {
  height: 40px;
}
.idoll-tabs.idoll-tabs-card > .idoll-tabs-bar .idoll-tabs-ink-bar {
  visibility: hidden;
}
.idoll-tabs.idoll-tabs-card > .idoll-tabs-bar .idoll-tabs-tab {
  margin: 0;
  border: 1px solid #E2E2E2;
  border-bottom: 0;
  border-radius: 3px 3px 0 0;
  background: #fafafa;
  margin-right: 2px;
  padding: 0 16px;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  line-height: 38px;
}
.idoll-tabs.idoll-tabs-card > .idoll-tabs-bar .idoll-tabs-tab-active {
  background: #fff;
  border-color: #E2E2E2;
  color: #13B886;
  padding-bottom: 1px;
}
.idoll-tabs.idoll-tabs-card > .idoll-tabs-bar .idoll-tabs-tab-inactive {
  padding: 0;
}
.idoll-tabs.idoll-tabs-card > .idoll-tabs-bar .idoll-tabs-nav-wrap {
  margin-bottom: 0;
}
.idoll-tabs.idoll-tabs-card > .idoll-tabs-bar .idoll-tabs-tab .idoll-icon-close {
  color: rgba(0, 0, 0, 0.45);
  transition: all 0.3s;
  font-size: 12px;
  margin-left: 3px;
  margin-right: -5px;
  overflow: hidden;
  vertical-align: middle;
  width: 16px;
  height: 16px;
}
.idoll-tabs.idoll-tabs-card > .idoll-tabs-bar .idoll-tabs-tab .idoll-icon-close:hover {
  color: rgba(0, 0, 0, 0.85);
}
.idoll-tabs.idoll-tabs-card .idoll-tabs-content > .idoll-tabs-tabpane,
.idoll-tabs.idoll-tabs-editable-card .idoll-tabs-content > .idoll-tabs-tabpane {
  transition: none !important;
}
.idoll-tabs.idoll-tabs-card .idoll-tabs-content > .idoll-tabs-tabpane-inactive,
.idoll-tabs.idoll-tabs-editable-card .idoll-tabs-content > .idoll-tabs-tabpane-inactive {
  overflow: hidden;
}
.idoll-tabs.idoll-tabs-card > .idoll-tabs-bar .idoll-tabs-tab:hover .idoll-icon-close {
  opacity: 1;
}
.idoll-tabs-extra-content {
  line-height: 40px;
}
.idoll-tabs-extra-content .idoll-tabs-new-tab {
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  cursor: pointer;
  border-radius: 2px;
  border: 1px solid #E2E2E2;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.65);
  transition: all 0.3s;
}
.idoll-tabs-extra-content .idoll-tabs-new-tab:hover {
  color: #13B886;
  border-color: #13B886;
}
.idoll-tabs-vertical.idoll-tabs-card > .idoll-tabs-bar .idoll-tabs-nav-container {
  height: auto;
}
.idoll-tabs-vertical.idoll-tabs-card > .idoll-tabs-bar .idoll-tabs-tab {
  border-bottom: 1px solid #E2E2E2;
  margin-bottom: 8px;
}
.idoll-tabs-vertical.idoll-tabs-card > .idoll-tabs-bar .idoll-tabs-tab-active {
  padding-bottom: 4px;
}
.idoll-tabs-vertical.idoll-tabs-card > .idoll-tabs-bar .idoll-tabs-tab:last-child {
  margin-bottom: 8px;
}
.idoll-tabs-vertical.idoll-tabs-card > .idoll-tabs-bar .idoll-tabs-new-tab {
  width: 90%;
}
.idoll-tabs-vertical.idoll-tabs-card.idoll-tabs-left > .idoll-tabsbar .idoll-tabs-nav-wrap {
  margin-right: 0;
}
.idoll-tabs-vertical.idoll-tabs-card.idoll-tabs-left > .idoll-tabsbar .idoll-tabs-tab {
  border-right: 0;
  border-radius: 3px 0 0 3px;
  margin-right: 1px;
}
.idoll-tabs-vertical.idoll-tabs-card.idoll-tabs-left > .idoll-tabsbar .idoll-tabs-tab-active {
  margin-right: -1px;
  padding-right: 18px;
}
.idoll-tabs-vertical.idoll-tabs-card.idoll-tabs-right > .idoll-tabs-bar .idoll-tabs-nav-wrap {
  border-left: 0;
  border-radius: 0 3px 3px 0;
  margin-left: 1px;
}
.idoll-tabs-vertical.idoll-tabs-card.idoll-tabs-right > .idoll-tabs-bar .idoll-tabs-nav-wrap-active {
  margin-left: -1px;
  padding-left: 18px;
}
.idoll-tabs {
  font-family: "Helvetica Neue For Number", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.65);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  overflow: hidden;
  zoom: 1;
}
.idoll-tabs:before,
.idoll-tabs:after {
  content: " ";
  display: table;
}
.idoll-tabs:after {
  clear: both;
  visibility: hidden;
  font-size: 0;
  height: 0;
}
.idoll-tabs-ink-bar {
  z-index: 1;
  position: absolute;
  left: 0;
  bottom: 1px;
  box-sizing: border-box;
  height: 2px;
  background-color: #13B886;
  transform-origin: 0 0;
}
.idoll-tabs-bar {
  border-bottom: 1px solid #E2E2E2;
  margin: 0 0 16px 0;
  outline: none;
  transition: padding 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.idoll-tabs-nav-container {
  overflow: hidden;
  font-size: 14px;
  line-height: 1.5;
  box-sizing: border-box;
  position: relative;
  white-space: nowrap;
  margin-bottom: -1px;
  transition: padding 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  zoom: 1;
}
.idoll-tabs-nav-container:before,
.idoll-tabs-nav-container:after {
  content: " ";
  display: table;
}
.idoll-tabs-nav-container:after {
  clear: both;
  visibility: hidden;
  font-size: 0;
  height: 0;
}
.idoll-tabs-nav-container-scrolling {
  padding-left: 32px;
  padding-right: 32px;
}
.idoll-tabs-tab-prev,
.idoll-tabs-tab-next {
  user-select: none;
  z-index: 2;
  width: 0;
  height: 100%;
  cursor: pointer;
  border: 0;
  background-color: transparent;
  position: absolute;
  text-align: center;
  color: rgba(0, 0, 0, 0.45);
  transition: width 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  opacity: 0;
  pointer-events: none;
}
.idoll-tabs-tab-prev.idoll-tabs-tab-arrow-show,
.idoll-tabs-tab-next.idoll-tabs-tab-arrow-show {
  opacity: 1;
  width: 32px;
  height: 100%;
  pointer-events: auto;
}
.idoll-tabs-tab-prev:hover,
.idoll-tabs-tab-next:hover {
  color: rgba(0, 0, 0, 0.65);
}
.idoll-tabs-tab-prev-icon,
.idoll-tabs-tab-next-icon {
  font-style: normal;
  font-weight: bold;
  font-variant: normal;
  line-height: inherit;
  vertical-align: baseline;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  text-transform: none;
}
.idoll-tabs-tab-prev-icon:before,
.idoll-tabs-tab-next-icon:before {
  display: block;
  font-family: "idollicon" !important;
  display: compact;
  font-size: 12px;
  font-size: 10px \ 9;
  transform: scale(0.83333333) rotate(0deg);
}
:root .idoll-tabs-tab-prev-icon:before,
:root .idoll-tabs-tab-next-icon:before {
  font-size: 12px;
}
.idoll-tabs-tab-btn-disabled {
  cursor: not-allowed;
}
.idoll-tabs-tab-btn-disabled,
.idoll-tabs-tab-btn-disabled:hover {
  color: rgba(0, 0, 0, 0.25);
}
.idoll-tabs-tab-next {
  right: 2px;
}
.idoll-tabs-tab-next-icon:before {
  content: "\E915";
  font-family: 'idoll-icon-pro' !important;
}
.idoll-tabs-tab-prev {
  left: 0;
}
.idoll-tabs-tab-prev-icon:before {
  content: "\E913";
  font-family: 'idoll-icon-pro' !important;
}
:root .idoll-tabs-tab-prev {
  filter: none;
}
.idoll-tabs-nav-wrap {
  overflow: hidden;
  margin-bottom: -1px;
}
.idoll-tabs-nav-scroll {
  overflow: hidden;
  white-space: nowrap;
}
.idoll-tabs-nav {
  box-sizing: border-box;
  padding-left: 0;
  transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  position: relative;
  margin: 0;
  list-style: none;
  display: inline-block;
}
.idoll-tabs-nav:before,
.idoll-tabs-nav:after {
  display: table;
  content: " ";
}
.idoll-tabs-nav:after {
  clear: both;
}
.idoll-tabs-nav .idoll-tabs-tab-disabled {
  cursor: default;
  color: rgba(0, 0, 0, 0.25);
}
.idoll-tabs-nav .idoll-tabs-tab.idoll-tabs-tab-disabled:hover {
  cursor: not-allowed;
  color: rgba(0, 0, 0, 0.25);
}
.idoll-tabs-nav .idoll-tabs-tab {
  display: inline-block;
  height: 100%;
  margin: 0 0 0 32px;
  padding: 12px 16px;
  box-sizing: border-box;
  position: relative;
  transition: color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  cursor: pointer;
  text-decoration: none;
}
.idoll-tabs-nav .idoll-tabs-tab:last-child {
  margin-right: 0;
}
.idoll-tabs-nav .idoll-tabs-tab:hover {
  color: #13B886;
}
.idoll-tabs-nav .idoll-tabs-tab:active {
  color: #13B886;
}
.idoll-tabs-nav .idoll-tabs-tab .idoll-icon {
  margin-right: 8px;
}
.idoll-tabs-nav .idoll-tabs-tab-active {
  color: #13B886;
  font-weight: 500;
}
.idoll-tabs-large .idoll-tabs-nav-container {
  font-size: 16px;
}
.idoll-tabs-large .idoll-tabs-tab {
  padding: 16px;
}
.idoll-tabs-small .idoll-tabs-nav-container {
  font-size: 14px;
}
.idoll-tabs-small .idoll-tabs-tab {
  padding: 8px 16px;
}
.idoll-tabs:not(.idoll-tabs-vertical) > .idoll-tabs-content {
  width: 100%;
}
.idoll-tabs:not(.idoll-tabs-vertical) > .idoll-tabs-content > .idoll-tabs-tabpane {
  flex-shrink: 0;
  width: 100%;
  transition: opacity .45s;
  opacity: 1;
}
.idoll-tabs:not(.idoll-tabs-vertical) > .idoll-tabs-content > .idoll-tabs-tabpane-inactive {
  opacity: 0;
  height: 0;
  padding: 0 !important;
  pointer-events: none;
}
.idoll-tabs:not(.idoll-tabs-vertical) > .idoll-tabs-content-animated {
  display: flex;
  flex-direction: row;
  will-change: margin-left;
  transition: margin-left 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.idoll-tabs-vertical > .idoll-tabs-bar {
  border-bottom: 0;
  height: 100%;
}
.idoll-tabs-vertical > .idoll-tabs-bar-tab-prev,
.idoll-tabs-vertical > .idoll-tabs-bar-tab-next {
  width: 32px;
  height: 0;
  transition: height 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.idoll-tabs-vertical > .idoll-tabs-bar-tab-prev.idoll-tabs-tab-arrow-show,
.idoll-tabs-vertical > .idoll-tabs-bar-tab-next.idoll-tabs-tab-arrow-show {
  width: 100%;
  height: 32px;
}
.idoll-tabs-vertical > .idoll-tabs-bar .idoll-tabs-tab {
  float: none;
  margin: 0 0 16px 0;
  padding: 8px 24px;
  display: block;
}
.idoll-tabs-vertical > .idoll-tabs-bar .idoll-tabs-tab:last-child {
  margin-bottom: 0;
}
.idoll-tabs-vertical > .idoll-tabs-bar .idoll-tabs-extra-content {
  text-align: center;
}
.idoll-tabs-vertical > .idoll-tabs-bar .idoll-tabs-nav-scroll {
  width: auto;
}
.idoll-tabs-vertical > .idoll-tabs-bar .idoll-tabs-nav-container,
.idoll-tabs-vertical > .idoll-tabs-bar .idoll-tabs-nav-wrap {
  height: 100%;
}
.idoll-tabs-vertical > .idoll-tabs-bar .idoll-tabs-nav-container {
  margin-bottom: 0;
}
.idoll-tabs-vertical > .idoll-tabs-bar .idoll-tabs-nav-container.idoll-tabs-nav-container-scrolling {
  padding: 32px 0;
}
.idoll-tabs-vertical > .idoll-tabs-bar .idoll-tabs-nav-wrap {
  margin-bottom: 0;
}
.idoll-tabs-vertical > .idoll-tabs-bar .idoll-tabs-nav {
  width: 100%;
}
.idoll-tabs-vertical > .idoll-tabs-bar .idoll-tabs-ink-bar {
  width: 2px;
  left: auto;
  height: auto;
  top: 0;
}
.idoll-tabs-vertical > .idoll-tabs-bar .idoll-tabs-tab-next {
  width: 100%;
  bottom: 0;
  height: 32px;
}
.idoll-tabs-vertical > .idoll-tabs-bar .idoll-tabs-tab-next-icon:before {
  content: "\E92C";
  font-family: 'idollicon' !important;
}
.idoll-tabs-vertical > .idoll-tabs-bar .idoll-tabs-tab-prev {
  top: 0;
  width: 100%;
  height: 32px;
}
.idoll-tabs-vertical > .idoll-tabs-bar .idoll-tabs-tab-prev-icon:before {
  content: "\E938";
  font-family: 'idollicon' !important;
}
.idoll-tabs-vertical > .idoll-tabs-content {
  overflow: hidden;
  width: auto;
  margin-top: 0 !important;
}
.idoll-tabs-vertical.idoll-tabs-left > .idoll-tabs-bar {
  float: left;
  border-right: 1px solid #E2E2E2;
  margin-right: -1px;
  margin-bottom: 0;
}
.idoll-tabs-vertical.idoll-tabs-left > .idoll-tabs-bar .idoll-tabs-tab {
  text-align: right;
}
.idoll-tabs-vertical.idoll-tabs-left > .idoll-tabs-bar .idoll-tabs-nav-container {
  margin-right: -1px;
}
.idoll-tabs-vertical.idoll-tabs-left > .idoll-tabs-bar .idoll-tabs-nav-wrap {
  margin-right: -1px;
}
.idoll-tabs-vertical.idoll-tabs-left > .idoll-tabs-bar .idoll-tabs-ink-bar {
  right: 1px;
}
.idoll-tabs-vertical.idoll-tabs-left > .idoll-tabs-content {
  padding-left: 24px;
  border-left: 1px solid #E2E2E2;
}
.idoll-tabs-vertical.idoll-tabs-right > .idoll-tabs-bar {
  float: right;
  border-left: 1px solid #E2E2E2;
  margin-left: -1px;
  margin-bottom: 0;
}
.idoll-tabs-vertical.idoll-tabs-right > .idoll-tabs-bar .idoll-tabs-nav-container {
  margin-left: -1px;
}
.idoll-tabs-vertical.idoll-tabs-right > .idoll-tabs-bar .idoll-tabs-nav-wrap {
  margin-left: -1px;
}
.idoll-tabs-vertical.idoll-tabs-right > .idoll-tabs-bar .idoll-tabs-ink-bar {
  left: 1px;
}
.idoll-tabs-vertical.idoll-tabs-right > .idoll-tabs-content {
  padding-right: 24px;
  border-right: 1px solid #E2E2E2;
}
.idoll-tabs-bottom > .idoll-tabs-bar {
  margin-bottom: 0;
  margin-top: 16px;
}
div.cardTabs {
  background-color: #ccc;
  padding: 15px;
}
div.cardTabs .idoll-tabs-bar {
  border: none;
  margin: 0;
}
div.cardTabs .idoll-tabs-bar .idoll-tabs-nav-container .idoll-tabs-nav div.idoll-tabs-tab {
  margin-right: 0;
  border: none;
  background-color: #ccc;
}
div.cardTabs .idoll-tabs-bar .idoll-tabs-nav-container .idoll-tabs-nav div.idoll-tabs-tab-active {
  background-color: #fff;
}
div.cardTabs .idoll-tabs-content {
  background-color: #fff;
  padding: 15px;
}
.idoll-tabs-top .idoll-tabs-ink-bar-animated,
.idoll-tabs-bottom .idoll-tabs-ink-bar-animated {
  transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), width 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.idoll-tabs-left .idoll-tabs-ink-bar-animated,
.idoll-tabs-right .idoll-tabs-ink-bar-animated {
  transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), height 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.no-flex > .idoll-tabs-content-animated,
.idoll-tabs-no-animation > .idoll-tabs-content-animated,
.idoll-tabs-vertical > .idoll-tabs-content-animated {
  transform: none !important;
  margin-left: 0 !important;
}
.no-flex > .idoll-tabs-content > .idoll-tabs-tabpane-inactive,
.idoll-tabs-no-animation > .idoll-tabs-content > .idoll-tabs-tabpane-inactive,
.idoll-tabs-vertical > .idoll-tabs-content > .idoll-tabs-tabpane-inactive {
  display: none;
}
