@import "../../../style/theme/default/default.less";
@import "../../../style/mixins/index.less";

@dialog-prefix-cls: idoll-modal;

.@{dialog-prefix-cls} {
  position: relative;
  margin: 0 auto;
  top: 100px;

  &-wrap {
    position: fixed;
    overflow: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: @zindex-modal;
    -webkit-overflow-scrolling: touch;
    outline: 0;
  }

  &-title {
    margin: 0;
    font-size: @font-size-base + 2;
    line-height: 24px;
    font-weight: bold;
  }

  &-content {
    position: relative;
    background-color: #fff;
    border: 0;
    border-radius: @border-radius-base;
    background-clip: padding-box;
  }

  &-close {
    cursor: pointer;
    border: 0;
    background: transparent;
    position: absolute;
    right: 24px;
    top: 20px;
    z-index: 10;
    font-weight: 700;
    line-height: 1;
    text-decoration: none;
    transition: color .3s ease;
    color: #999;
    outline: 0;

    &-x {
      display: block;
      font-style: normal;
      text-align: center;
      text-transform: none;
      text-rendering: auto;
      font-size: 16px;
      line-height: 1;

      &:before {
        content: "\E6EC";
        display: block;
        font-family: "idollicon"
      }
    }

    &:focus,
    &-hover {
      color: #444;
      text-decoration: none;
    }
  }

  &-header {
    position: relative;
    padding: @padding-md @padding-md+8;
    border-radius: @border-radius-base @border-radius-base 0 0;
    background: #fff;
    color: #666;
  }
  &-header:after {
    position: absolute;
    top: 100%;
    left: @padding-md+8;
    content: '';
    width: 560 - (@padding-md+8) - (@padding-md+8);
    height: 1px;
    background-color: @border-color-split;
  }

  &-body {
    min-height: 180px;
    padding: 24px;
    font-size: 14px;
    line-height: 22px;
    overflow:auto;
  }

  &-footer {
    // height: 48px ;
    padding:@padding-md @padding-md+8;
    text-align: right;
    border-radius: 0 0 @border-radius-base @border-radius-base;
    button {
      margin-left:8px;
    }

  }

  &.zoom-enter,
  &.zoom-appear {
    animation-duration: .3s;
    transform: none;
    opacity: 0;
  }

  &-mask {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #373737;
    background-color: rgba(55, 55, 55, 0.6);
    height: 100%;
    z-index: @zindex-modal-mask;
    filter: ~"alpha(opacity=50)";

    &-hidden {
      display: none;
    }
  }

  &-open {
    overflow: hidden;
  }
}

@media (max-width: 768px) {
  .@{dialog-prefix-cls} {
    width: auto !important;
    margin: 10px;
  }
  .vertical-center-modal {
    .@{dialog-prefix-cls} {
      flex: 1;
    }
  }
}
