@import "../../../style/theme/default/default.less";
@import "../../../style/mixins/index.less";

@message-prefix-cls: ~"@{idoll-prefix}-message";

.@{message-prefix-cls} {
  .reset-component;
  position: fixed;
  z-index: @zindex-message;
  width: 100%;
  top: 16px;
  left: 0;
  pointer-events: none;

  &-notice {
    padding: 8px;
    text-align: center;
    &:first-child {
      margin-top: -8px;
    }
  }

  // &-notice-content {
  //   padding:  @padding-xs @padding-sm+2;
  //   background: @component-background;
  //   box-shadow: @shadow-2;
  //   border-radius: @border-radius-base;
  //   display: inline-block;
  //   pointer-events: all;
  //   // background-color: @success-color;
  //   // color: #fff;
  // }

  &-notice-content &-custom-content {
    padding:  @padding-xs @padding-sm+2;
    background: @component-background;
    box-shadow: @shadow-2;
    border-radius: @border-radius-base;
    display: inline-block;
    pointer-events: all;
    // background-color: @success-color;
    // color: #fff;
  }

  .content-success {
    background-color: @success-color;
    color: #fff;
  }

  .content-error {
    background-color: @error-color;
    color: #fff;
  }

  .content-info {
    background-color: @warning-color;
    color: #fff;
  }

  .content-loading {
    background-color: @warning-color;
    color: #fff;
  }

  .content-warning, .content-warning {
    background-color: @warning-color;
    color: #fff;
  }

  // &-success {
  //   background-color: @success-color;
  // }

  // &-error {
  //   background-color: @error-color;
  // }

  // &-warning,&-warn {
  //   background-color: @warning-color;
  // }

  // &-loading {
  //   background-color: @warning-color;
  // }

  // &-info {
  //   background-color: @warning-color;
  // }

  &-success .@{iconfont-css-prefix} {
    color: @success-color;
  }

  &-error .@{iconfont-css-prefix} {
    color: @error-color;
  }

  &-warning .@{iconfont-css-prefix} {
    color: @warning-color;
  }

  &-warn .@{iconfont-css-prefix} {
    color: @warning-color;
  }

  &-loading .@{iconfont-css-prefix} {
    color: @warning-color;
  }

  &-info .@{iconfont-css-prefix} {
    color: @warning-color;
  }

  .@{iconfont-css-prefix} {
    margin-right: 8px;
    font-size: @font-size-lg;
    top: -1px;
    position: relative;
  }

  &-notice.move-up-leave.move-up-leave-active {
    animation-name: MessageMoveOut;
    overflow: hidden;
    animation-duration: .3s; 
  }
}

@keyframes MessageMoveOut {
  0% {
    opacity: 1;
    max-height: 150px;
    padding: 8px;
  }
  100% {
    opacity: 0;
    max-height: 0;
    padding: 0;
  }
}
