@import '../../../style/theme/default/default.less';

@badge-prefix-cls: idoll-badge;
@number-prefix-cls: idoll-scroll-number;

.@{badge-prefix-cls} {
  position: relative;
  display: inline-block;
  line-height: 1;
  vertical-align: middle;;
  margin-right: 60px;
  
  &-count {
    position: absolute;
    transform: translateX(-50%);
    top: -10px;
    height: 20px;
    border-radius: 10px;
    min-width: 20px;
    background: @error-color;
    color: #fff;
    line-height: 20px;
    text-align: center;
    padding: 0 5px;
    font-size: 12px;
    white-space: nowrap;
    transform-origin: -10% center;
    z-index: 10;
    font-family: @font-family;
    box-shadow: 0 0 0 1px #fff;
    a,
    a:hover {
      color: #fff;
    }
  }

  &-dot {
    position: absolute;
    transform: translateX(-50%);
    transform-origin: 0px center;
    top: -3px;
    height: 6px;
    width: 6px;
    border-radius: 100%;
    background: @error-color;
    z-index: 10;
    box-shadow: 0 0 0 1px #fff;
  }
  &-zoom-appear,
  &-zoom-enter {
    animation: idollZoomBadgeIn .3s @ease-out-back;
    animation-fill-mode: both;
  }

  &-zoom-leave {
    animation: idollZoomBadgeOut .3s @ease-in-back;
    animation-fill-mode: both;
  }

  &-not-a-wrapper &-count {
    top: auto;
    display: block;
    position: relative;
    transform: translateX(0);
  }
}

a & {
  &-count:hover {
    background: tint(@error-color, 20%);
  }
  &-count:active {
    background: shade(@error-color, 5%);
  }
}

span.example {
  width: 64px;
  height: 64px;
  border-radius: @border-radius-base;
  background: rgb(226, 226, 226);
  display: inline-block;
}

.@{number-prefix-cls} {
  overflow: hidden;
  &-only {
    display: inline-block;
    transition: transform .3s @ease-in-out;
  }
  // for IE8/9 display
  &.not-support-css-animation &-only {
    > p {
      display: none;
      &.current {
        display: block;
      }
    }
  }

  &.@{badge-prefix-cls}-success-dot {
    background-color: @success-color;
    width: 6px;
    height: 6px;
    top: 8px;
    left: -10px;
    position: absolute;
    border-radius: 100%;
  }

  
  &.@{badge-prefix-cls}-error-dot {
    background-color: @error-color;
    width: 6px;
    height: 6px;
    top: 8px;
    left: -10px;
    position: absolute;
    border-radius: 100%;
  }
  &.@{badge-prefix-cls}-default-dot {
    background-color: @default-color;
    width: 6px;
    height: 6px;
    top: 8px;
    left: -10px;
    position: absolute;
    border-radius: 100%;
  }
  &.@{badge-prefix-cls}-processing-dot {
    background-color: @processing-color;
    width: 6px;
    height: 6px;
    top: 8px;
    left: -10px;
    position: absolute;
    border-radius: 100%;
    overflow: visible;
    &:after {
      content: '';
      width: 6px;
      height: 6px;
      left: 0;
      top: 0;
      position: absolute;
      border: 1px solid @processing-color;
      border-radius: 100%;
      animation: idollRadioEffect 1.2s infinite;
    }
  }
  &.@{badge-prefix-cls}-warning-dot {
    background-color: @warning-color;
    width: 6px;
    height: 6px;
    top: 8px;
    left: -10px;
    position: absolute;
    border-radius: 100%;
  }
}

@keyframes idollRadioEffect {
  0% {
    transform: scale(0);
    opacity: 1;
  }

  100% {
    transform: scale(2);
    opacity: 0;
  }
  0% {
    transform: scale(0);
    opacity: 1;
  }
}

@keyframes idollZoomBadgeIn {
  0% {
    transform: scale(0);
    opacity: 1;
  }

  100% {
    transform: scale(2);
    opacity: 0;
  }
  0% {
    transform: scale(0);
    opacity: 1;
  }
}

@keyframes antZoomBadgeIn {
  0% {
    opacity: 0;
    transform: scale(0) translateX(-50%);
  }
}