@import '../../../style/theme/default/index';
@import '../../../style/index';

@tag-prefix-cls: idoll-tag;

.@{tag-prefix-cls} {
    position: relative;
    display: inline-block;
    border-color: @primary-color;
    color: @primary-color;
    border-style: @border-style-base;
    border-width: @border-width-base;
    border-radius:  @border-radius-base;
    font-size: 12px;
    padding: 0 8px;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    margin-right: 5px;
    margin-bottom: 5px;

    span {
        transform: translate(-50%,-50%);
        min-width: 24px;
        max-height: 20px;
        line-height: 20px;
    }
    &-close{
        cursor: pointer;
        font-size: 12px;
        padding: 0 8px;
        font-size: 12px;
    }
      //hot
      &-hot {
        border:none;
        border-radius: none;
        &-checked {
            border-radius: @border-radius-base ;
            background-color: @primary-color;
            color: @background-color-base;
            border:1px solid @primary-color;
        }
      }
}

.group {
    .@{tag-prefix-cls}:last-child {
        border-style: dashed
    }
}