/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors */
@keyframes loadingCircle {
  0% {
    transform: rotate(0deg) scale(1);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}
.idoll-tag {
  display: inline-block;
  border-color: #13B886;
  color: rgba(0, 0, 0, 0.6);
  border: 1px solid #E2E2E2;
  border-radius: 3px;
  font-size: 12px;
  padding: 0 8px;
  box-sizing: border-box;
  text-align: center;
  margin-right: 8px;
  margin-bottom: 8px;
}
.idoll-tag div {
  display: inline-block;
  min-width: 24px;
  max-height: 20px;
  line-height: 20px;
}
.idoll-tag i {
  transform: translateY(-5%);
  color: rgba(0, 0, 0, 0.2);
}
.idoll-tag-color {
  cursor: pointer;
}
.idoll-tag i:hover {
  color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transition: all 0.3s;
}
.idoll-tag-close {
  cursor: pointer;
  font-size: 12px;
  padding: 0 8px;
}
.idoll-tag-hot {
  border: 1px solid transparent;
  border-radius: none;
  cursor: pointer;
}
.idoll-tag-hot-checked {
  border-radius: 3px;
  background-color: #13B886;
  color: #f5f5f5;
  border: 1px solid #13B886;
}
.idoll-tag-hot-checked:hover {
  background-color: #42C69E;
  border-color: #42C69E;
  border: 1px solid #42C69E;
  color: #fff !important;
}
.idoll-tag-hot:hover {
  color: #13B886;
}
.idoll-tag-peru {
  border: 1px solid rgba(205, 133, 63, 0.3) !important;
}
.idoll-tag-coral {
  border: 1px solid rgba(255, 127, 80, 0.3) !important;
}
.idoll-tag-hotpink {
  border: 1px solid rgba(255, 105, 180, 0.3) !important;
}
.idoll-tag-orange {
  border: 1px solid rgba(255, 165, 0, 0.3) !important;
}
.idoll-tag-limegreen {
  border: 1px solid rgba(50, 205, 50, 0.3) !important;
}
.idoll-tag-deepskyblue {
  border: 1px solid rgba(0, 191, 255, 0.3) !important;
}
.idoll-tag-mediumslateblue {
  border: 1px solid rgba(123, 104, 238, 0.3) !important;
}
.idoll-tag-turquoise {
  border: 1px solid rgba(64, 224, 208, 0.3) !important;
}
a.idoll-tag {
  line-height: 20px;
  color: rgba(0, 0, 0, 0.6);
}
a.idoll-tag:active {
  border-color: #13B886;
  color: #13B886;
  transition: none;
  text-decoration: none;
}
a.idoll-tag:hover {
  border-color: #13B886;
  color: #13B886;
  transition: none;
  text-decoration: none;
}
a.idoll-tag:visited {
  border-color: #13B886;
  color: #13B886;
  transition: none;
  text-decoration: none;
}
a.idoll-tag:focus {
  border-color: #13B886;
  color: #13B886;
  transition: none;
  text-decoration: none;
}
.group .idoll-tag:last-child {
  border-style: dashed;
  cursor: pointer;
}
