@import '../../../style/theme/default/index';
@import '../../../style/theme/default/compoments/tag';

@tag-prefix-cls: idoll-tag;

.@{tag-prefix-cls} {
    display: inline-block;
    border-color: @primary-color;
    color: @text-color;
    border: @border-width-base @border-style-base @border;
    border-radius:  @border-radius-base;
    font-size: @font-size-sm;
    padding: 0 @padding-xs;
    box-sizing: border-box;
    text-align: center;
    margin-right: @margin-xs;
    margin-bottom: @margin-xs;

    div {
        display: inline-block;
        min-width: @tag-min-width;
        max-height: @tag-max-height;
        line-height: @tag-line-height;
    }
    
    i {
        transform: translateY(-5%);
        color: @text-color-disable;
    }

    &-color {
        cursor: pointer;
    }
    i:hover {
        color: @text-color-secondary;
        cursor: pointer;
        transition: all @animation-duration-slow;
    }

    &-close{
        cursor: pointer;
        font-size: @font-size-sm;
        padding: 0 @padding-xs;
    }
      //hot
    &-hot {
    border:@border-width-base @border-style-base transparent;
    border-radius: none;
    cursor: pointer;
    &-checked {
        border-radius: @border-radius-base ;
        background-color: @primary-color;
        color: @background-color-base;
        border:@border-width-base @border-style-base @primary-color;
    }
    &-checked:hover {
        background-color: @primary-Hover;
        border-color: @primary-Hover;
        border:@border-width-base @border-style-base @primary-Hover;
        color: @component-background !important;
    }
    }
    &-hot:hover {
        color: @primary-color;
    }
    &-peru {
        border:@border-width-base @border-style-base RGBA(205, 133, 63, 0.3) !important;
    }
    &-coral {
        border:@border-width-base @border-style-base RGBA(255, 127, 80, 0.3) !important;
    }&-hotpink {
        border:@border-width-base @border-style-base RGBA(255, 105, 180, 0.3) !important;
    }&-orange {
        border:@border-width-base @border-style-base RGBA(255, 165, 0, 0.3) !important;
    }&-limegreen {
        border:@border-width-base @border-style-base RGBA(50, 205, 50, 0.3) !important;
    }&-deepskyblue {
        border:@border-width-base @border-style-base RGBA(0, 191, 255, 0.3) !important;
    }&-mediumslateblue {
        border:@border-width-base @border-style-base RGBA(123, 104, 238, 0.3) !important;
    }&-turquoise {
        border:@border-width-base @border-style-base RGBA(64, 224, 208, 0.3) !important;
    }
}
a.@{tag-prefix-cls} {
    line-height: @tag-line-height;
    color: @text-color;
}
a.@{tag-prefix-cls}:active {
    border-color: @primary-color;
    color: @primary-color;
    transition: none;
    text-decoration: none;
}
a.@{tag-prefix-cls}:hover {
    border-color: @primary-color;
    color: @primary-color;
    transition: none;
    text-decoration: none;
}
a.@{tag-prefix-cls}:visited {
    border-color: @primary-color;
    color: @primary-color;
    transition: none;
    text-decoration: none;
}
a.@{tag-prefix-cls}:focus {
    border-color: @primary-color;
    color: @primary-color;
    transition: none;
    text-decoration: none;
}

.group {
    .@{tag-prefix-cls}:last-child {
        border-style: dashed;
        cursor: pointer;
    }
}