@import '../index.less';

@alert-message-color: @title-color;
@alert-text-color: @text-color;

@alert-line-height-base: 1.5;
@alert-line-height: 22px;
@alert-line-height-sm: 16px;

@alert-icon-font-size: 24px;
@alser-icon-width: 16px;
@alser-icon-height: 16px;

@aletr-no-description-height: 40px;