// Avatar
// ---

@avatar-size-base: 40px;
@avatar-size-lg: 64px;
@avatar-size-sm: 32px;
@avatar-size-ti: 24px;
@avatar-font-size-base: 24px;
@avatar-font-size-lg: 32px;
@avatar-font-size-sm: 16px;
@avatar-font-size-ti: 14px;
@avatar-bg: #ccc;
@avatar-color: #fff;
@avatar-border-radius: 4px;