// BackTop
// ---
@back-top-color: @white;
@back-top-bg: @text-color-secondary;
@back-top-hover-bg: @text-color;

@back-top-height: 40px;
@back-top-width: 40px;

@back-top-icon-width: 14px;
@back-top-icon-height: 16px;

@zindex-back-top: 10;