@badge-height: 20px;
@badge-radius: 10px;
@badge-dot-size: 6px;
@badge-status-size: 6px;
@badge-margin: 60px;
@badge-example-size: 64px;
@badge-dot-size: 6px;
@badge-default-color: #E2E2E2;
@badge-processing-color: #13B886;
