@calendar-choose-icon-color: @text-color-secondary-dark;
@calendar-time-color: @white;
@calendar-active-color: @white;
@calendar-month-value-color: @white;

@calendar-text-line-height: 24px;

@calendar-text-width: 24px;
@calendar-text-height: 24px;

@calendar-choose-icon-size: 20px;

@calendar-box-shadow: 0 0 0 1px @primary-color;