@calendarPanelHeader-height: 40px;
@calendar-input-height: 22px;
@calendar-decade-height: 24px;
@calendar-month-panel-height: 24px;
@calendar-year-panel-height: 24px;
@calendar-rangepicker-tobody-btn: 22px;

@calendar-picker-icon-width: 14px;
@calendar-picker-icon-height: 14px;
@input-box-height: 34px;

@calendar-column-header-line-height: 18px;

@calendarPanelHeader-icon-font-size: 22px;
@calendar-select-padding: 2px;
@calendar-btn-padding: 5px;

@calendarPanelHeader-active-color: @white;
@calendar-base-bg: @white;
@calendar-hover-color: @white;
@calendar-combobx-bg: @white;
@calendar-year-pabel-bg: @white;
@calendar-year-panel-select: @white;

@calendar-line-height-base: 1.5;

@calendar-clear-btn-height: 20px;
@calendar-clear-btn-width: 20px;

@zindex-picker: 1050;