// Input
// ---
@input-height-base           : 32px;
@input-height-lg             : 40px;
@input-height-sm             : 24px;
@input-padding-horizontal    : @control-padding-horizontal - 1px;
@input-padding-horizontal-base: @input-padding-horizontal;
@input-padding-horizontal-sm : @control-padding-horizontal - 5px;
@input-padding-horizontal-lg : @input-padding-horizontal;
@input-padding-vertical-sm   : 1px;
@input-padding-vertical-base : 4px;
@input-padding-vertical-lg   : 7px;
// @input-placeholder-color     : hsv(0, 0, 75%);
@input-placeholder-color     : @text-color-disable;
@input-color                 : @text-color;
@input-border-color          : @border-color-base;
@input-bg                    : @white;
@input-addon-bg              : @disabled;
@input-hover-border-color    : @primary-Hover;
@input-hover-color           : @text-color;
@input-disabled-bg           : @disabled-bg;
@input-affix-width           : 20px;
@input-affix-width-sm        : 16px;