// layout
@layout-backgound-color: @component-background;
@layout-sider-basic-width: 32px;
@layout-content-background: @component-background;
@layout-header-base-height: 60px;
@layout-footer-height: 44px;
@layout-header-background    : @component-background;
@layout-sider-background: @component-background;
@layout-footer-background: @component-background;
// 特定场景下header高度
@layout-header-seat: 60px;
@layout-header-admin: 90px;