// layout
@layout-backgound-color: #fff;
@layout-sider-basic-width: 20vh;
@layout-content-background: rgba(19, 184, 134, 0.2);
@layout-header-base-height: 10vh;
@layout-footer-height: 10vh;
@layout-header-background    : rgba(19, 184, 134, 0.4);
@layout-sider-background: rgba(19, 184, 134, 0.6);
@layout-footer-background: rgba(19, 184, 134, 0.4);
// 特定场景下header高度
@layout-header-seat: 60px;
@layout-header-admin: 90px;