// layout
@layout-backgound-color: @white;
@layout-content-background: rgba(19, 184, 134, 0.4);
@layout-header-background    : rgba(19, 184, 134, 0.6);
@layout-sider-background: rgba(19, 184, 134, 0.8);
@layout-footer-background: rgba(19, 184, 134, 0.6);
@layoutTabs-content-background: #f5f5f5;
// 特定场景下header高度
@layout-font-size: 24px;
@layout-header-seat: 56px;
@layout-header-admin: 90px;
@horizontal-light: 32px;
@layout-logo-color: rgba(245, 245, 245, 0.2);
@layout-logo-padding-bottom: 44px;
@layout-logo-padding-top: 28px;
@layout-tabs-content-padding: 48px;
@layout-backgound: @divider-color;
@layout-bg: @white;