// Menu
// ---
@menu-inline-toplevel-item-height: 40px;
@menu-item-height: 40px;
@menu-collapsed-width: 80px;
@menu-bg: @white;
@menu-item-color: @text-color;
@menu-highlight-color: @primary-color;
@menu-item-active-bg: @item-active-bg;
@menu-item-group-title-color: @text-color-secondary;
// dark theme

@menu-base-line-height: 22px;
@menu-padding: 32px;
@menu-dark-color: @text-color-secondary-dark;
@menu-dark-bg: @primary-color;
@menu-dark-arrow-color: @white;
@menu-dark-submenu-bg: #000c17;
@menu-dark-highlight-color: @white;
@menu-dark-item-selected-bg: @primary-Hover;
