// Pagination
// ---
@pagination-item-size: 32px;
@pagination-item-size-sm: 24px;
@pagination-height-default: 22px;
@pagination-height-base: 32px;
@pagination-padding-base: 15px;
@pagination-min-width: 8px;
@pagination-input-width: 60px;
@pagination-mini-padding: 3px;
@pagination-simple-input-width: 24px;
