// Popover
// ---

@popover-line-height:22px;
//** Popover body 背景色
@popover-bg: @white;
//** Popover 文本颜色
@popover-color: @text-color;
//** Popover 最小宽度
@popover-min-width: 177px;
//** Popover 箭头宽度
@popover-arrow-width: 6px;
//** Popover 箭头颜色
@popover-arrow-color: @popover-bg;
//** Popover 外部箭头颜色
@popover-arrow-outer-color: @popover-bg;
//** Popover 可触发距离
@popover-distance: @popover-arrow-width + 4px;
//外阴影
@shadow-large:0px 8px 16px 0px rgba(0,0,0,0.06),0px 1px 8px 0px rgba(0,0,0,0.04);
