// Progress
// --
@progress-default-color: @primary-color;
@progress-remaining-color: hsv(0, 0, 96%);
@progress-default-color: @primary-hover ;
@progress-remaining-color: @background;
@progress-error-icon-color: @error-color;
@progress-success-icon-color: @success-color;
