// Radio
@radio-size             : 16px;
@radio-size-sm          : 12px;
@radio-radius-base      : 18px;
@radio-radius-sm        : 10px;

// Radio buttons
@radio-button-bg        : @btn-default-bg;
@radio-button-color     : @btn-default-color;
@radio-disabled-bg      : @divider-color;
@radio-disabled-checked-bg: @text-color-disable;
@radio-bg               : @white;
@radio-checked-disabled :@disabled;
