// Radio
@radio-size             : 16px;
@radio-radius-base      : 18px;
@radio-radius-sm        : 10px;

// Radio buttons
@radio-button-bg        : @btn-default-bg;
@radio-button-color     : @btn-default-color;
