@select-height-base       : 28px;
@select-height-lg         : 40px;
@select-height-sm         : 24px;
@select-placeholder-color : hsv(0, 0, 75%);
@select-color             : @text-color;
@select-border-color      : @border-color-base;
@select-bg                : #fff;
@select-hover-border-color: @primary-color;
@select-hover-color       : @text-color;
@select-selected-color    : #fff;
@select-disabled-bg       : @disabled-bg;
@option-hover-bg          : @section-background-dark;
@option-selected-bg       : @highlight-color;

@select-border-width      : @border-width-base;
@select-font-size         : @font-size-base;
@select-padding-vertical          : @padding-sm + 2px;
@select-padding-horizontal        : @padding-sm - 6px;
@select-option-padding-vertical   : @padding-md + 4px;
@select-option-padding-horizontal : @padding-xs - 1px;
