
@disabled-color         : @disabled;
@slider-margin:                       14px 6px 10px;
@component-background   : @white;
@slider-rail-background-color:        @background;
@slider-rail-background-color-hover:  @border;
@slider-track-background-color:       @primary-color;
@slider-track-background-color-hover: @primary-hover;
@slider-handle-color:                 @primary-color;
@slider-handle-color-hover:           @primary-hover;
@slider-handle-color-focus:           @primary-focus;
@slider-handle-color-focus-shadow:    @box-shadow-base;
@slider-handle-color-tooltip-open:    @primary-color;
@slider-dot-border-color:             @border;
@slider-dot-border-color-active:      @primary-focus;
@slider-disabled-color:               @disabled-color;
@slider-disabled-background-color:    @component-background;
