// Spin
// ---
@spin-dot-size-sm: 14px;
@spin-dot-size: 20px;
@spin-dot-size-lg: 32px;

@spin-border-color: fade(@Black, 5%);
@spin-blur-background: @white;
@spin-background: @white;

@spin-zindex: 4;
@spin-text-shadow: 0 1px 2px @white;

@spin-base-width: 32px;
@spin-base-height: 32px;
@spin-base-width-default: 3px;

@spin-width-sm: 16px;
@spin-height-sm: 16px;
@spin-border-width-sm: @border-width-base;

@spin-width-lg: 48px;
@spin-height-lg: 48px;
@spin-border-width-lg: 4px;

@spin-dot-default: @text-color-secondary;