// Table
// --
@table-header-bg: @background-color-light;
@table-header-sort-bg: @background-color-base;
@table-row-hover-bg: @primary-LightBg;
@table-selected-row-bg: @table-header-color;
@table-padding-vertical: @padding-md;
@table-padding-horizontal: @padding-md;