// Table
// --
@table-header-bg: hsv(0, 0, 98%);
@table-header-sort-bg: hsv(0, 0, 96%);
@table-row-hover-bg:@primary-lightBg;
@table-selected-row-bg: @table-header-color;
@table-padding-vertical: @padding-md;
@table-padding-horizontal: @padding-md;
@table-padding-horizontal: @padding-md;
@table-bg: @white;