// Tabs
// ---
@tabs-card-head-background: @background-color-light;
@tabs-card-height: 46px;
@tabs-title-font-size: @font-size-base;
@tabs-line-height: 22px;
@tabs-cardRabs-bg: @divider-color;
@tabs-contentbg: @white;