// Tooltip
// ---
//* Tooltip 最大宽度
@tooltip-max-width: 250px;
//** Tooltip 文本颜色
@tooltip-color: #fff;
//** Tooltip 背景颜色
@tooltip-bg: rgba(0, 0, 0, .75);
//** Tooltip 箭头宽度
@tooltip-arrow-width: 5px;
//** Tooltip 可以触发的距离
@tooltip-distance: @tooltip-arrow-width - 1px + 4px;
//** Tooltip 箭头颜色
@tooltip-arrow-color: @tooltip-bg;
