// Tooltip
// ---
//* Tooltip 最大宽度
@tooltip-max-width: 250px;
//** Tooltip 文本颜色
@tooltip-color: @white;
//** Tooltip 背景颜色
@tooltip-bg: @title-color;
//** Tooltip 箭头宽度
@tooltip-arrow-width: 5px;
//** Tooltip 可以触发的距离
@tooltip-distance: @tooltip-arrow-width - 1px + 4px;
//** Tooltip 箭头颜色
@tooltip-arrow-color: @tooltip-bg;

@tooltip-inner-padding-topbottom: 6px;
@tooltip-inner-padding-leftright: 8px;

@tooltip-height-base        : 32px;

