/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors */
@keyframes loadingCircle {
  0% {
    transform: rotate(0deg) scale(1);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}
.idoll-table {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.65);
  overflow: hidden;
  position: relative;
  border-radius: 3px 3px 0 0;
  overflow: auto;
}
.idoll-table-body {
  transition: opacity 0.3s ease;
}
.idoll-table table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  text-align: left;
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}
.idoll-table-thead > tr > th {
  background: #FAFAFA;
  font-weight: 500;
  transition: background .3s ease;
  text-align: left;
  padding: 16px;
}
.idoll-table-thead > tr > th .idollicon-filter {
  margin-left: 4px;
  display: compact;
  font-size: 12px;
  font-size: 10px \ 9;
  transform: scale(0.83333333) rotate(0deg);
  cursor: pointer;
  color: #aaa;
  transition: all 0.3s ease;
}
:root .idoll-table-thead > tr > th .idollicon-filter {
  font-size: 12px;
}
.idoll-table-thead > tr > th .idollicon-filter:hover {
  color: #666;
}
.idoll-table-thead > tr > th .idoll-table-filter-selected.idollicon-filter {
  color: #13B886;
}
.idoll-table-tbody > tr > td {
  border-bottom: 1px solid #E2E2E2;
  padding: 16px;
}
.idoll-table-tbody > .idoll-table-expanded-row[data-row-key*='-extra-row'] td .clearfix {
  margin: -16px 0;
  border-bottom: 1px solid #FAFAFA;
}
.idoll-table-tbody > .idoll-table-expanded-row[data-row-key*='-extra-row'] td .clearfix .idoll-table-tbody tr:last-child td {
  border-bottom: 0;
}
.idoll-table-thead > tr,
.idoll-table-tbody > tr {
  transition: all .3s ease;
}
.idoll-table-thead > tr.idoll-table-row-hover,
.idoll-table-tbody > tr.idoll-table-row-hover,
.idoll-table-thead > tr:hover,
.idoll-table-tbody > tr:hover {
  background: #E7F8F3;
}
.idoll-table-thead > tr:hover {
  background: none;
}
.idoll-table-footer {
  padding: 16px;
  text-align: center;
  position: relative;
  z-index: 2;
  top: -1px;
  border-radius: 0 0 3px 3px;
}
.idoll-table.idoll-table-bordered .idoll-table-footer {
  border: 1px solid #E2E2E2;
}
.idoll-table-title {
  padding: 16px;
  text-align: center;
  position: relative;
  top: 1px;
  border-radius: 3px 3px 0 0;
}
.idoll-table.idoll-table-bordered .idoll-table-title {
  border: 1px solid #E2E2E2;
}
.idoll-table-title + .idoll-table-content {
  position: relative;
}
.idoll-table-title + .idoll-table-content table {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.idoll-table-tbody > tr.idoll-table-row-selected {
  background: #fafafa;
}
.idoll-table-thead > tr > th.idoll-table-column-sort {
  background: #eaeaea;
}
.idoll-table-thead > tr > th,
.idoll-table-tbody > tr > td {
  word-break: break-all;
}
.idoll-table-thead > tr > th.idoll-table-selection-column,
.idoll-table-tbody > tr > td.idoll-table-selection-column {
  text-align: center;
  width: 60px;
}
.idoll-table-header {
  background: #FAFAFA;
  overflow: hidden;
  border-radius: 3px 3px 0 0;
}
.idoll-table-header table {
  border-radius: 3px 3px 0 0;
}
.idoll-table-loading {
  position: relative;
}
.idoll-table-loading .idoll-table-body {
  background: #fff;
  opacity: 0.5;
}
.idoll-table-loading .idoll-table-spin-holder {
  height: 20px;
  line-height: 20px;
  left: 50%;
  top: 50%;
  margin-left: -30px;
  position: absolute;
}
.idoll-table-loading .idoll-table-with-pagination {
  margin-top: -20px;
}
.idoll-table-loading .idoll-table-without-pagination {
  margin-top: 10px;
}
.idoll-table-middle .idoll-table-thead > tr > th,
.idoll-table-middle .idoll-table-tbody > tr > td {
  padding: 12px 16px;
}
.idoll-table-small {
  border-radius: 3px;
}
.idoll-table-small .idoll-table-body .idoll-table-thead > tr > th {
  background-color: #FAFAFA;
}
.idoll-table-small .idoll-table-header > table,
.idoll-table-small .idoll-table-body > table {
  border: 0;
}
.idoll-table-small.idoll-table-bordered .idoll-table-body > table {
  border: 0;
}
.idoll-table-small .idoll-table-thead > tr > th {
  padding: 8px;
  background: #fff;
  border-bottom: 1px solid #E2E2E2;
}
.idoll-table-small .idoll-table-tbody > tr > td {
  padding: 8px;
}
.idoll-table-small .idoll-table-header {
  background: #fff;
}
.idoll-table-small .idoll-table-header table {
  border-bottom: 1px solid #E2E2E2;
}
.idoll-table-small .idoll-table-header .idoll-table-thead > tr > th {
  border-bottom: 0;
}
.idoll-table-column-sorter {
  margin-left: 4px;
  display: inline-block;
  width: 12px;
  height: 24px;
  vertical-align: middle;
  text-align: center;
}
.idoll-table-column-sorter-up,
.idoll-table-column-sorter-down {
  line-height: 4px;
  height: 12px;
  display: block;
  width: 12px;
  cursor: pointer;
}
.idoll-table-column-sorter-up:hover .idollicon,
.idoll-table-column-sorter-down:hover .idollicon {
  color: #666;
}
.idoll-table-column-sorter-up.on .idollicon-caret-up,
.idoll-table-column-sorter-down.on .idollicon-caret-up,
.idoll-table-column-sorter-up.on .idollicon-caret-down,
.idoll-table-column-sorter-down.on .idollicon-caret-down {
  color: #13B886;
}
.idoll-table-column-sorter .idollicon-caret-up,
.idoll-table-column-sorter .idollicon-caret-down {
  display: compact;
  font-size: 12px;
  font-size: 6px \ 9;
  transform: scale(0.5) rotate(0deg);
  line-height: 6px;
  height: 6px;
  color: #aaa;
}
:root .idoll-table-column-sorter .idollicon-caret-up,
:root .idoll-table-column-sorter .idollicon-caret-down {
  font-size: 12px;
}
.idoll-table-column-sorter .idollicon-caret-up:before,
.idoll-table-column-sorter .idollicon-caret-down:before {
  transform-origin: 53% 50%;
  -moz-transform-origin: 53% 50%;
  /* fix firefox position */
}
.idoll-table-bordered .idoll-table-body > table {
  border: 1px solid #E2E2E2;
}
.idoll-table-bordered.idoll-table-fixed-header {
  border: 1px solid #E2E2E2;
}
.idoll-table-bordered.idoll-table-fixed-header table {
  border: 0;
}
.idoll-table-bordered.idoll-table-fixed-header .idoll-table-fixed-left {
  border-right: 1px solid #E2E2E2;
}
.idoll-table-bordered.idoll-table-fixed-header .idoll-table-fixed-right {
  border-left: 1px solid #E2E2E2;
}
.idoll-table-bordered.idoll-table-fixed-header .idoll-table-placeholder {
  border-bottom: 0;
}
.idoll-table-bordered .idoll-table-thead > tr > th {
  border-bottom: 1px solid #E2E2E2;
}
.idoll-table-bordered.idoll-table-empty .idoll-table-thead > tr > th {
  border-bottom: 0;
}
.idoll-table-bordered .idoll-table-tbody tr:last-child > th,
.idoll-table-bordered .idoll-table-tbody tr:last-child > td {
  border-bottom: 0;
}
.idoll-table-bordered .idoll-table-thead > tr > th,
.idoll-table-bordered .idoll-table-tbody > tr > td {
  border-right: 1px solid #E2E2E2;
}
.idoll-table-bordered .idoll-table-thead > tr > th:last-child,
.idoll-table-bordered .idoll-table-tbody > tr > td:last-child {
  border-right: 0;
}
.idoll-table-placeholder {
  background: #fff;
  border-bottom: 1px solid #E2E2E2;
  text-align: center;
  position: relative;
  z-index: 2;
  font-size: 12px;
  color: #999;
}
.idoll-table-placeholder .idollicon {
  margin-right: 4px;
}
.idoll-table-pagination {
  margin: 16px 0;
  float: right;
}
.idoll-table-filter-dropdown {
  min-width: 96px;
  margin-left: -8px;
  background: #fff;
  border-radius: 3px;
  border: 1px solid #E2E2E2;
  box-shadow: 0 2px 8px rgba(18, 34, 29, 0.1);
}
.idoll-table-filter-dropdown .idoll-dropdown-menu {
  border: 0;
  box-shadow: none;
  border-radius: 3px 3px 0 0;
}
.idoll-table-filter-dropdown .idoll-dropdown-menu-item > label + span {
  margin-left: 8px;
}
.idoll-table-filter-dropdown .idoll-dropdown-menu-sub {
  border-radius: 3px;
  border: 1px solid #E2E2E2;
  box-shadow: 0 2px 8px rgba(18, 34, 29, 0.1);
}
.idoll-table-filter-dropdown .idoll-dropdown-menu .idoll-dropdown-submenu-contain-selected .idoll-dropdown-menu-submenu-title:after {
  color: #13B886;
  font-weight: 500;
  text-shadow: 0 0 2px #d0f1e7;
}
.idoll-table-filter-dropdown .idoll-dropdown-menu-item {
  overflow: hidden;
}
.idoll-table-filter-dropdown > .idoll-dropdown-menu > .idoll-dropdown-menu-item:last-child,
.idoll-table-filter-dropdown > .idoll-dropdown-menu > .idoll-dropdown-menu-submenu:last-child .idoll-dropdown-menu-submenu-title {
  border-radius: 0;
}
.idoll-table-filter-dropdown-btns {
  overflow: hidden;
  border-top: 1px solid #E2E2E2;
}
.idoll-table-filter-dropdown-link {
  color: #13B886;
}
.idoll-table-filter-dropdown-link:hover {
  color: #42C69E;
}
.idoll-table-filter-dropdown-link:active {
  color: #13B886;
}
.idoll-table-filter-dropdown-link.confirm {
  float: left;
}
.idoll-table-filter-dropdown-link.clear {
  float: right;
}
.idoll-table-expand-icon-th {
  width: 34px;
}
.idoll-table-row-expand-icon {
  cursor: pointer;
  display: inline-block;
  width: 17px;
  height: 17px;
  text-align: center;
  line-height: 14px;
  border: 1px solid #E2E2E2;
  user-select: none;
  background: #fff;
}
.idoll-table-row-expand-icon-cell {
  width: 18px;
}
.idoll-table-row-expanded:after {
  content: '-';
}
.idoll-table-row-collapsed:after {
  content: '+';
}
.idoll-table-row-spaced {
  visibility: hidden;
}
.idoll-table-row-spaced:after {
  content: '.';
}
.idoll-table-row[class*="idoll-table-row-level-0"] .idoll-table-selection-column > span {
  display: inline-block;
}
tr.idoll-table-expanded-row,
tr.idoll-table-expanded-row:hover {
  background: #fbfbfb;
}
.idoll-table .idoll-table-row-indent + .idoll-table-row-expand-icon {
  margin-right: 8px;
}
.idoll-table-scroll {
  overflow: auto;
  overflow-x: hidden;
}
.idoll-table-scroll table {
  width: auto;
  min-width: 100%;
}
.idoll-table-body-inner {
  height: 100%;
}
.idoll-table-fixed-header .idoll-table-body {
  position: relative;
  background: #fff;
}
.idoll-table-fixed-header .idoll-table-body-inner {
  overflow: scroll;
  overflow-x: hidden;
}
.idoll-table-fixed-header .idoll-table-scroll .idoll-table-header {
  overflow: scroll;
  overflow-x: hidden;
  padding-bottom: 20px;
  margin-bottom: -20px;
}
.idoll-table-fixed-left,
.idoll-table-fixed-right {
  position: absolute;
  top: 0;
  overflow: hidden;
  z-index: 1;
  border-radius: 0;
}
.idoll-table-fixed-left table,
.idoll-table-fixed-right table {
  width: auto;
  background: #fff;
}
.idoll-table-fixed-header .idoll-table-fixed-left .idoll-table-body-outer .idoll-table-fixed,
.idoll-table-fixed-header .idoll-table-fixed-right .idoll-table-body-outer .idoll-table-fixed {
  border-radius: 0;
}
.idoll-table-fixed-left {
  left: 0;
  box-shadow: 2px 0 8px rgba(18, 34, 29, 0.1);
}
.idoll-table-fixed-left .idoll-table-header {
  overflow-y: hidden;
}
.idoll-table-fixed-header .idoll-table-fixed-left .idoll-table-body-inner {
  padding-right: 0;
}
.idoll-table-fixed-left,
.idoll-table-fixed-left table {
  border-radius: 3px 0 0 0;
}
.idoll-table-fixed-right {
  right: 0;
  box-shadow: -2px 0 8px rgba(18, 34, 29, 0.1);
}
.idoll-table-fixed-right,
.idoll-table-fixed-right table {
  border-radius: 0 3px 0 0;
}
.idoll-table-fixed-right .idoll-table-expanded-row {
  color: transparent;
  pointer-events: none;
}
.idoll-table.idoll-table-scroll-position-left .idoll-table-fixed-left {
  box-shadow: none;
}
.idoll-table.idoll-table-scroll-position-right .idoll-table-fixed-right {
  box-shadow: none;
}
.idoll-table-column-hidden {
  display: none;
}
.idoll-table-thead > tr > th {
  border-bottom: 1px solid #E2E2E2;
}
.idoll-table-thead > tr > th.idoll-table-column-has-prev {
  position: relative;
}
.idoll-table-thead > tr > th.idoll-table-column-has-prev,
.idoll-table-tbody > tr > td.idoll-table-column-has-prev {
  padding-left: 24px;
}
.idoll-table-prev-columns-page,
.idoll-table-next-columns-page {
  cursor: pointer;
  color: #666;
  z-index: 1;
}
.idoll-table-prev-columns-page:hover,
.idoll-table-next-columns-page:hover {
  color: #13B886;
}
.idoll-table-prev-columns-page-disabled,
.idoll-table-next-columns-page-disabled {
  cursor: not-allowed;
  color: #bbb;
}
.idoll-table-prev-columns-page-disabled:hover,
.idoll-table-next-columns-page-disabled:hover {
  color: #bbb;
}
.idoll-table-prev-columns-page {
  position: absolute;
  left: 8px;
}
.idoll-table-prev-columns-page:before {
  content: '\e601';
  display: compact;
  font-size: 12px;
  font-size: 9px \ 9;
  transform: scale(0.75) rotate(0deg);
  font-weight: 500;
  font-family: idollicon;
}
:root .idoll-table-prev-columns-page:before {
  font-size: 12px;
}
.idoll-table-next-columns-page {
  float: right;
  margin-left: 8px;
}
.idoll-table-next-columns-page:before {
  content: '\e600';
  display: compact;
  font-size: 12px;
  font-size: 9px \ 9;
  transform: scale(0.75) rotate(0deg);
  font-weight: 500;
  font-family: idollicon;
}
:root .idoll-table-next-columns-page:before {
  font-size: 12px;
}
