.@{steps-prefix-cls}-label-vertical {
  .@{steps-prefix-cls}-item {
    overflow: visible;
    &-tail {
      margin-left: @steps-icon-size + 12;
      padding-right: @steps-current-dot-size;
    }

    &-content {
      display: block;
      text-align: center;
      margin-top: @steps-dot-size;
      width: @steps-description-max-width;
    }

    &-icon {
      display: inline-block;
      margin-left: 76px;
    }

    &-title {
      padding-right: 0;

      &:after {
        display: none;
      }
    }

    &-description {
      text-align: center;
    }
  }
}
