/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors */
@keyframes loadingCircle {
  0% {
    transform: rotate(0deg) scale(1);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}
.idoll-upload {
  font-family: "Helvetica Neue For Number", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.65);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  outline: 0;
}
.idoll-upload p {
  margin: 0;
}
.idoll-upload-btn {
  display: block;
  width: 100%;
  outline: none;
}
.idoll-upload input[type="file"] {
  cursor: pointer;
}
.idoll-upload.idoll-upload-select {
  display: inline-block;
}
.idoll-upload.idoll-upload-select .idoll-upload p {
  font-size: 12px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.45);
  margin: 16px 0;
  user-select: none;
  pointer-events: none;
}
.idoll-upload.idoll-upload-select-picture-card {
  border: 1px dashed #E2E2E2;
  width: 104px;
  height: 104px;
  border-radius: 3px;
  background-color: #fafafa;
  text-align: center;
  cursor: pointer;
  transition: border-color 0.3s ease;
  vertical-align: top;
  margin-right: 8px;
  margin-bottom: 8px;
  display: table;
}
.idoll-upload.idoll-upload-select-picture-card > .idoll-upload {
  width: 100%;
  height: 100%;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  padding: 8px;
}
.idoll-upload.idoll-upload-select-picture-card:hover {
  border-color: #13B886;
}
.idoll-upload.idoll-upload-select-picture-card .idoll-icon-plus {
  font-size: 30px;
  transition: all .3s;
  color: rgba(0, 0, 0, 0.25);
}
.idoll-upload.idoll-upload-select-picture-card .idoll-icon-plus:hover {
  color: rgba(0, 0, 0, 0.45);
}
.idoll-upload.idoll-upload-select-picture-card .idoll-upload-text {
  margin-top: 14px;
  color: rgba(0, 0, 0, 0.25);
  line-height: 22px;
}
.idoll-upload.idoll-upload-drag {
  border: 1px dashed #E2E2E2;
  transition: border-color 0.3s;
  cursor: pointer;
  border-radius: 3px;
  text-align: center;
  width: 100%;
  height: 100%;
  position: relative;
  padding: 37px 0 32px 0;
  background: #fafafa;
}
.idoll-upload.idoll-upload-drag.idoll-upload-drag-hover:not(.idoll-upload-disabled) {
  border: 2px dashed #40A9FF;
}
.idoll-upload.idoll-upload-drag.idoll-upload-disabled {
  cursor: not-allowed;
}
.idoll-upload.idoll-upload-drag .idoll-upload-btn {
  display: table;
  height: 100%;
}
.idoll-upload.idoll-upload-drag .idoll-upload-drag-container {
  display: table-cell;
  vertical-align: middle;
}
.idoll-upload.idoll-upload-drag:not(.idoll-upload-disabled):hover {
  border-color: #40A9FF;
}
.idoll-upload.idoll-upload-drag p.idoll-upload-icon {
  margin-bottom: 18px;
}
.idoll-upload.idoll-upload-drag p.idoll-upload-icon .idoll-icon {
  font-size: 72px;
  color: #13B886;
}
.idoll-upload.idoll-upload-drag p.idoll-upload-text {
  font-size: 14px;
  margin: 0 0 8px 0;
  color: rgba(0, 0, 0, 0.65);
  line-height: 22px;
}
.idoll-upload.idoll-upload-drag p.idoll-upload-limit {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.45);
  line-height: 20px;
}
.beginUpload[disabled] .idoll-icon {
  color: rgba(0, 0, 0, 0.25);
}
.idoll-upload-list {
  font-family: "Helvetica Neue For Number", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.65);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  zoom: 1;
}
.idoll-upload-list:before,
.idoll-upload-list:after {
  content: " ";
  display: table;
}
.idoll-upload-list:after {
  clear: both;
  visibility: hidden;
  font-size: 0;
  height: 0;
}
.idoll-upload-list-item {
  margin-top: 8px;
  font-size: 14px;
  position: relative;
  height: 22px;
}
.idoll-upload-list-item-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  display: inline-block;
}
.idoll-upload-list-item-name p > span {
  margin-left: 8px;
}
.idoll-upload-list-item-name p > i:last-child {
  position: absolute;
  right: 4px;
  top: 0;
  line-height: 22px;
  font-size: 12px;
  cursor: pointer;
}
.idoll-upload-list-item-info {
  height: 100%;
  padding: 0 12px 0 0;
  transition: background-color 0.3s;
}
.idoll-upload-list-item-info > span {
  display: block;
}
.idoll-upload-list-item-info .idoll-icon-loading,
.idoll-upload-list-item-info .idoll-icon-paper-clip {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.45);
  position: absolute;
  top: 5px;
}
.idoll-upload-list-item .idoll-icon-close {
  display: compact;
  font-size: 12px;
  font-size: 10px \ 9;
  transform: scale(0.83333333) rotate(0deg);
  opacity: 0;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 4px;
  color: rgba(0, 0, 0, 0.45);
  line-height: 22px;
}
:root .idoll-upload-list-item .idoll-icon-close {
  font-size: 12px;
}
.idoll-upload-list-item .idoll-icon-close:hover {
  color: rgba(0, 0, 0, 0.65);
}
.idoll-upload-list-item:hover .idoll-upload-list-item-info {
  background-color: #E7F8F3;
}
.idoll-upload-list-item:hover .idoll-icon-check {
  opacity: 0;
}
.idoll-upload-list-item:hover .idoll-icon-close {
  opacity: 1;
}
.idoll-upload-list-item-error,
.idoll-upload-list-item-error .idoll-icon-paper-clip,
.idoll-upload-list-item-error .idoll-upload-list-item-name {
  color: #F44336;
}
.idoll-upload-list-item-error .idoll-icon-close {
  opacity: 1;
  color: #F44336 !important;
}
.idoll-upload-list-item-progress {
  line-height: 0;
  font-size: 14px;
  position: absolute;
  width: 100%;
  bottom: -12px;
  padding-left: 26px;
}
.idoll-upload-list-picture .idoll-upload-list-item,
.idoll-upload-list-picture-card .idoll-upload-list-item {
  padding: 8px;
  border-radius: 3px;
  border: 1px solid #E2E2E2;
  height: 66px;
  position: relative;
}
.idoll-upload-list-picture .idoll-upload-list-item:hover,
.idoll-upload-list-picture-card .idoll-upload-list-item:hover {
  background: transparent;
}
.idoll-upload-list-picture .idoll-upload-list-item-error,
.idoll-upload-list-picture-card .idoll-upload-list-item-error {
  border-color: #F44336;
}
.idoll-upload-list-picture .idoll-upload-list-item-info,
.idoll-upload-list-picture-card .idoll-upload-list-item-info {
  padding: 0;
}
.idoll-upload-list-picture .idoll-upload-list-item:hover .idoll-upload-list-item-info,
.idoll-upload-list-picture-card .idoll-upload-list-item:hover .idoll-upload-list-item-info {
  background: transparent;
}
.idoll-upload-list-picture .idoll-upload-list-item span,
.idoll-upload-list-picture-card .idoll-upload-list-item span {
  display: block;
  color: rgba(255, 255, 255, 0.45);
  font-size: 16px;
  position: absolute;
  cursor: pointer;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  white-space: nowrap;
  opacity: 0;
}
.idoll-upload-list-picture .idoll-upload-list-item span a,
.idoll-upload-list-picture-card .idoll-upload-list-item span a {
  margin-right: 8px;
}
.idoll-upload-list-picture .idoll-upload-list-item span a i,
.idoll-upload-list-picture-card .idoll-upload-list-item span a i {
  color: rgba(255, 255, 255, 0.45);
}
.idoll-upload-list-picture .idoll-upload-list-item span a:active i,
.idoll-upload-list-picture-card .idoll-upload-list-item span a:active i {
  color: #fff;
}
.idoll-upload-list-picture .idoll-upload-list-item:hover span,
.idoll-upload-list-picture-card .idoll-upload-list-item:hover span {
  opacity: 1;
}
.idoll-upload-list-picture .idoll-upload-list-item-uploading,
.idoll-upload-list-picture-card .idoll-upload-list-item-uploading {
  border-style: dashed;
}
.idoll-upload-list-picture .idoll-upload-list-item-uploading .idoll-progress-inner,
.idoll-upload-list-picture-card .idoll-upload-list-item-uploading .idoll-progress-inner {
  position: relative;
}
.idoll-upload-list-picture .idoll-upload-list-item-thumbnail,
.idoll-upload-list-picture-card .idoll-upload-list-item-thumbnail {
  width: 48px;
  height: 48px;
  position: absolute;
  top: 8px;
  left: 8px;
}
.idoll-upload-list-picture .idoll-upload-list-item-thumbnail img,
.idoll-upload-list-picture-card .idoll-upload-list-item-thumbnail img {
  width: 48px;
  height: 48px;
  overflow: hidden;
  display: block;
}
.idoll-upload-list-picture .idoll-upload-list-item-thumbnail.idoll-icon:before,
.idoll-upload-list-picture-card .idoll-upload-list-item-thumbnail.idoll-icon:before {
  line-height: 48px;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.45);
}
.idoll-upload-list-picture .idoll-upload-list-item-name,
.idoll-upload-list-picture-card .idoll-upload-list-item-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0 0 0 8px;
  line-height: 44px;
  transition: all .3s;
  padding-left: 48px;
  padding-right: 8px;
  max-width: 100%;
  display: inline-block;
  box-sizing: border-box;
}
.idoll-upload-list-picture .idoll-upload-list-item-uploading .idoll-upload-list-item-name,
.idoll-upload-list-picture-card .idoll-upload-list-item-uploading .idoll-upload-list-item-name {
  line-height: 28px;
}
.idoll-upload-list-picture .idoll-upload-list-item-progress,
.idoll-upload-list-picture-card .idoll-upload-list-item-progress {
  padding-left: 56px;
  margin-top: 0;
  bottom: 14px;
  width: calc(100% - 24px);
}
.idoll-upload-list-picture .idoll-icon-close,
.idoll-upload-list-picture-card .idoll-icon-close {
  position: absolute;
  right: 8px;
  top: 8px;
  line-height: 1;
}
.idoll-upload-list-picture-card {
  display: inline;
}
.idoll-upload-list-picture-card.idoll-upload-list:after {
  display: none;
}
.idoll-upload-list-picture-card .idoll-upload-list-item {
  float: left;
  width: 104px;
  height: 104px;
  margin: 0 8px 8px 0;
}
.idoll-upload-list-picture-card .idoll-upload-list-item-info {
  height: 100%;
  position: relative;
  overflow: hidden;
}
.idoll-upload-list-picture-card .idoll-upload-list-item-info:before {
  content: ' ';
  position: absolute;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
  transition: all .3s;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.idoll-upload-list-picture-card .idoll-upload-list-item:hover .idoll-upload-list-item-info:before {
  opacity: 1;
}
.idoll-upload-list-picture-card .idoll-upload-list-item-actions {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  white-space: nowrap;
  opacity: 0;
  transition: all .3s;
}
.idoll-upload-list-picture-card .idoll-upload-list-item-actions .idoll-icon-pro2-eye,
.idoll-upload-list-picture-card .idoll-upload-list-item-actions .idoll-icon-delete {
  z-index: 10;
  transition: all .3s;
  cursor: pointer;
  font-size: 16px;
  width: 16px;
  color: rgba(255, 255, 255, 0.85);
  margin: 0 8px;
}
.idoll-upload-list-picture-card .idoll-upload-list-item-actions .idoll-icon-pro2-eye:hover,
.idoll-upload-list-picture-card .idoll-upload-list-item-actions .idoll-icon-delete:hover {
  color: #fff;
}
.idoll-upload-list-picture-card .idoll-upload-list-item-info:hover + .idoll-upload-list-item-actions,
.idoll-upload-list-picture-card .idoll-upload-list-item-actions:hover {
  opacity: 1;
}
.idoll-upload-list-picture-card .idoll-upload-list-item-thumbnail,
.idoll-upload-list-picture-card .idoll-upload-list-item-thumbnail img {
  display: block;
  width: 100%;
  height: 100%;
  position: static;
}
.idoll-upload-list-picture-card .idoll-upload-list-item-name {
  display: none;
}
.idoll-upload-list-picture-card .idoll-upload-list-item-uploading.idoll-upload-list-item {
  background-color: #fafafa;
}
.idoll-upload-list-picture-card .idoll-upload-list-item-uploading .idoll-upload-list-item-info {
  height: auto;
}
.idoll-upload-list-picture-card .idoll-upload-list-item-uploading .idoll-upload-list-item-info:before,
.idoll-upload-list-picture-card .idoll-upload-list-item-uploading .idoll-upload-list-item-info .idoll-icon-pro2-eye,
.idoll-upload-list-picture-card .idoll-upload-list-item-uploading .idoll-upload-list-item-info .idoll-icon-delete {
  display: none;
}
.idoll-upload-list-picture-card .idoll-upload-list-item-progress {
  padding-left: 0;
  bottom: 32px;
}
.idoll-upload-list .idoll-upload-success-icon {
  color: #3CCB69;
  font-weight: bold;
}
.idoll-upload-list .idoll-upload-animate-enter,
.idoll-upload-list .idoll-upload-animate-leave,
.idoll-upload-list .idoll-upload-animate-inline-enter,
.idoll-upload-list .idoll-upload-animate-inline-leave {
  animation-duration: .3s;
  animation-fill-mode: cubic-bezier(0.78, 0.14, 0.15, 0.86);
}
.idoll-upload-list .idoll-upload-animate-enter {
  animation-name: uploadAnimateIn;
}
.idoll-upload-list .idoll-upload-animate-leave {
  animation-name: uploadAnimateOut;
}
.idoll-upload-list .idoll-upload-animate-inline-enter {
  animation-name: uploadAnimateInlineIn;
}
.idoll-upload-list .idoll-upload-animate-inline-leave {
  animation-name: uploadAnimateInlineOut;
}
@keyframes uploadAnimateIn {
  from {
    height: 0;
    margin: 0;
    opacity: 0;
    padding: 0;
  }
}
@keyframes uploadAnimateOut {
  to {
    height: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
  }
}
@keyframes uploadAnimateInlineIn {
  from {
    width: 0;
    height: 0;
    margin: 0;
    opacity: 0;
    padding: 0;
  }
}
@keyframes uploadAnimateInlineOut {
  to {
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
  }
}
