/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors */
@font-face {
  font-family: 'idollicon';
  src: url('/assets/fonts/idollicon.eot?zfzssk');
  src: url('/assets/fonts/idollicon.eot?zfzssk#iefix') format('embedded-opentype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('/assets/fonts/idollicon.ttf') format('truetype'), /* chrome、firefox */ url('/assets/fonts/idollicon.woff?zfzssk') format('woff'), /* iOS 4.1- */ url('/assets/fonts/idollicon.svg?zfzssk#idollicon') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'idoll-icon-pro';
  src: url('/assets/fonts/idoll-icon-pro.eot?pevkht');
  src: url('/assets/fonts/idoll-icon-pro.eot?pevkht#iefix') format('embedded-opentype'), url('/assets/fonts/idoll-icon-pro.ttf?pevkht') format('truetype'), url('/assets/fonts/idoll-icon-pro.woff?pevkht') format('woff'), url('/assets/fonts/idoll-icon-pro.svg?pevkht#idoll-icon-pro') format('svg');
  font-weight: normal;
  font-style: normal;
}
.idoll-icon {
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: middle;
  text-align: center;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.idoll-icon:before {
  display: block;
  font-family: 'idollicon' !important;
}
.idoll-icon-check-circle:before {
  content: "\e917";
  font-family: 'idollicon' !important;
}
.idoll-icon-achievement:before {
  content: "\e900";
  font-family: 'idollicon' !important;
}
.idoll-icon-appstore-o:before {
  content: "\e901";
  font-family: 'idollicon' !important;
}
.idoll-icon-clock-o:before {
  content: "\e902";
  font-family: 'idollicon' !important;
}
.idoll-icon-home:before {
  content: "\e903";
  font-family: 'idollicon' !important;
}
.idoll-icon-platform:before {
  content: "\e904";
  font-family: 'idollicon' !important;
}
.idoll-icon-sound:before {
  content: "\e905";
  font-family: 'idollicon' !important;
}
.idoll-icon-tool:before {
  content: "\e906";
  font-family: 'idollicon' !important;
}
.idoll-icon-trophy:before {
  content: "\e907";
  font-family: 'idollicon' !important;
}
.idoll-icon-unlock:before {
  content: "\e908";
  font-family: 'idollicon' !important;
}
.idoll-icon-user-group:before {
  content: "\e909";
  font-family: 'idollicon' !important;
}
.idoll-icon-user:before {
  content: "\e90a";
  font-family: 'idollicon' !important;
}
.idoll-icon-bars:before {
  content: "\e90b";
  font-family: 'idollicon' !important;
}
.idoll-icon-calendar:before {
  content: "\e90c";
  font-family: 'idollicon' !important;
}
.idoll-icon-copy:before {
  content: "\e90d";
  font-family: 'idollicon' !important;
}
.idoll-icon-delete:before {
  content: "\e90e";
  font-family: 'idollicon' !important;
}
.idoll-icon-edit:before {
  content: "\e90f";
  font-family: 'idollicon' !important;
}
.idoll-icon-filter:before {
  content: "\e910";
  font-family: 'idollicon' !important;
}
.idoll-icon-logout:before {
  content: "\e911";
  font-family: 'idollicon' !important;
}
.idoll-icon-message:before {
  content: "\e912";
  font-family: 'idollicon' !important;
}
.idoll-icon-phone:before {
  content: "\e913";
  font-family: 'idollicon' !important;
}
.idoll-icon-search:before {
  content: "\e914";
  font-family: 'idollicon' !important;
}
.idoll-icon-tag:before {
  content: "\e915";
  font-family: 'idollicon' !important;
}
.idoll-icon-check-circle-o:before {
  content: "\e916";
  font-family: 'idollicon' !important;
}
.idoll-icon-check:before {
  content: "\e919";
  font-family: 'idollicon' !important;
}
.idoll-icon-close-circle-o:before {
  content: "\e91a";
  font-family: 'idollicon' !important;
}
.idoll-icon-close-circle:before {
  content: "\e91b";
  font-family: 'idollicon' !important;
}
.idoll-icon-close:before {
  content: "\e91c";
  font-family: 'idollicon' !important;
}
.idoll-icon-plus-circle-o:before {
  content: "\e91d";
  font-family: 'idollicon' !important;
}
.idoll-icon-plus-circle:before {
  content: "\e91e";
  font-family: 'idollicon' !important;
}
.idoll-icon-plus:before {
  content: "\e91f";
  font-family: 'idollicon' !important;
}
.idoll-icon-remove-circle-o:before {
  content: "\e920";
  font-family: 'idollicon' !important;
}
.idoll-icon-remove-circle:before {
  content: "\e921";
  font-family: 'idollicon' !important;
}
.idoll-icon-remove:before {
  content: "\e922";
  font-family: 'idollicon' !important;
}
.idoll-icon-warning-circle:before {
  content: "\e923";
  font-family: 'idollicon' !important;
}
.idoll-icon-arrows-alt:before {
  content: "\e924";
  font-family: 'idollicon' !important;
}
.idoll-icon-backward:before {
  content: "\e925";
  font-family: 'idollicon' !important;
}
.idoll-icon-caret-down:before {
  content: "\e926";
  font-family: 'idollicon' !important;
}
.idoll-icon-caret-left:before {
  content: "\e927";
  font-family: 'idollicon' !important;
}
.idoll-icon-caret-right:before {
  content: "\e928";
  font-family: 'idollicon' !important;
}
.idoll-icon-caret-up:before {
  content: "\e929";
  font-family: 'idollicon' !important;
}
.idoll-icon-down-circle-o:before {
  content: "\e92a";
  font-family: 'idollicon' !important;
}
.idoll-icon-down-circle:before {
  content: "\e92b";
  font-family: 'idollicon' !important;
}
.idoll-icon-down:before {
  content: "\e92c";
  font-family: 'idollicon' !important;
}
.idoll-icon-forward:before {
  content: "\e92d";
  font-family: 'idollicon' !important;
}
.idoll-icon-left-circle-o:before {
  content: "\e92e";
  font-family: 'idollicon' !important;
}
.idoll-icon-left-circle:before {
  content: "\e92f";
  font-family: 'idollicon' !important;
}
.idoll-icon-menu-fold:before {
  content: "\e930";
  font-family: 'idollicon' !important;
}
.idoll-icon-menu-unfold:before {
  content: "\e931";
  font-family: 'idollicon' !important;
}
.idoll-icon-right-circle-o:before {
  content: "\e932";
  font-family: 'idollicon' !important;
}
.idoll-icon-right-circle:before {
  content: "\e933";
  font-family: 'idollicon' !important;
}
.idoll-icon-shrink:before {
  content: "\e934";
  font-family: 'idollicon' !important;
}
.idoll-icon-swap:before {
  content: "\e935";
  font-family: 'idollicon' !important;
}
.idoll-icon-up-circle-o:before {
  content: "\e936";
  font-family: 'idollicon' !important;
}
.idoll-icon-up-circle:before {
  content: "\e937";
  font-family: 'idollicon' !important;
}
.idoll-icon-up:before {
  content: "\e938";
  font-family: 'idollicon' !important;
}
[class^="idoll-icon-pro-"],
[class*=" idoll-icon-pro-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'idoll-icon-pro' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.idoll-icon-pro-chart:before {
  content: "\e90e";
  font-family: 'idoll-icon-pro' !important;
}
.idoll-icon-pro-clock-circle:before {
  content: "\e90f";
  font-family: 'idoll-icon-pro' !important;
}
.idoll-icon-pro-download:before {
  content: "\e910";
  font-family: 'idoll-icon-pro' !important;
}
.idoll-icon-pro-drag:before {
  content: "\e911";
  font-family: 'idoll-icon-pro' !important;
}
.idoll-icon-pro-info:before {
  content: "\e912";
  font-family: 'idoll-icon-pro' !important;
}
.idoll-icon-pro-left:before {
  content: "\e913";
  font-family: 'idoll-icon-pro' !important;
}
.idoll-icon-pro-phone-circle:before {
  content: "\e914";
  font-family: 'idoll-icon-pro' !important;
}
.idoll-icon-pro-right:before {
  content: "\e915";
  font-family: 'idoll-icon-pro' !important;
}
.idoll-icon-pro-rollback:before {
  content: "\e916";
  font-family: 'idoll-icon-pro' !important;
}
.idoll-icon-pro-safety:before {
  content: "\e917";
  font-family: 'idoll-icon-pro' !important;
}
.idoll-icon-pro-setting:before {
  content: "\e918";
  font-family: 'idoll-icon-pro' !important;
}
.idoll-icon-pro-sharealt:before {
  content: "\e919";
  font-family: 'idoll-icon-pro' !important;
}
.idoll-icon-pro-sync:before {
  content: "\e91a";
  font-family: 'idoll-icon-pro' !important;
}
.idoll-icon-pro-table:before {
  content: "\e91b";
  font-family: 'idoll-icon-pro' !important;
}
@font-face {
  font-family: 'idoll-icon-online';
  src: url('/assets/fonts/idoll-icon-online.eot?67rfls');
  src: url('/assets/fonts/idoll-icon-online.eot?67rfls#iefix') format('embedded-opentype'), url('/assets/fonts/idoll-icon-online.ttf?67rfls') format('truetype'), url('/assets/fonts/idoll-icon-online.woff?67rfls') format('woff'), url('/assets/fonts/idoll-icon-online.svg?67rfls#idoll-icon-online') format('svg');
  font-weight: normal;
  font-style: normal;
}
.idoll-icon-arrowdown:before {
  content: "\e939";
  font-family: 'idoll-icon-online' !important;
}
.idoll-icon-arrowup:before {
  content: "\e93a";
  font-family: 'idoll-icon-online' !important;
}
.idoll-icon-book:before {
  content: "\e93b";
  font-family: 'idoll-icon-online' !important;
}
.idoll-icon-contacts:before {
  content: "\e93c";
  font-family: 'idoll-icon-online' !important;
}
.idoll-icon-detail:before {
  content: "\e93d";
  font-family: 'idoll-icon-online' !important;
}
.idoll-icon-flag:before {
  content: "\e93e";
  font-family: 'idoll-icon-online' !important;
}
.idoll-icon-help:before {
  content: "\e93f";
  font-family: 'idoll-icon-online' !important;
}
