.nav_container {
  display: flex;
  justify-content: space-between;

  .nav_menu {
    position: relative;
    top: -13px;
    left: -48px;

    .idoll-menu-light {
      background-color: transparent;
    }
  }
}