@import './default.less';

#header {
  position: fixed;
  z-index: 999;
  background: rgba(255, 255, 255, 0.75);
  border-bottom: 1px solid transparent;
  transition: border .5s cubic-bezier(0.455, 0.03, 0.515, 0.955), background .5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  height: @header-height;
  padding: 0 48px;
  width: 100%;

  &.home-nav-bottom {
    background: rgba(255, 255, 255, 0.9);
    border-bottom-color: #ebedee;
    .search {
      border-left-color: #ebedee;
    }
    a {
      color: @text-color;
    }
  }
  .header-link {
    color: @text-color;
  }
  .ant-menu {
    background: none;
  }
  .ant-menu-horizontal {
    line-height: 6.25vw;
    font-size: 1.09375vw;
  }
  .ant-menu-item-active .header-link {
    color: @primary-color;
  }
}